.breadcrumbs {
    margin-top: 50px;
    margin-bottom: 20px;

    @media(max-width: 768px) {
        margin-top: 40px;
        margin-bottom: 15px;
    }

    &__separator,
    &__item {
        display: inline-block;
        font-size: 13px;
        line-height: 18px;
        color: $gray-1 !important;

        @media(max-width: 992px) {
            font-size: 11px;
            line-height: 14px;
        }
    }

    &__separator {
        margin-left: 5px;
        margin-right: 5px;
    }
}
