.contact-form {
    &__title {
        margin-bottom: 40px;

        @media(max-width: 992px) {
            margin-bottom: 30px;
        }
    }

    &__field {
        margin-bottom: 20px;
    }

    &__textarea {
        min-height: 176px;

        @media(max-width: 575px) {
            min-height: 255px;
        }
    }

    &__submit {
        margin-top: 20px;

        @media(max-width: 575px) {
            margin-top: 10px;
        }
    }

    &__success {
        h3 {
            margin-bottom: 24px;
        }

        p {
            color: $gray-1;
        }
    }
}
