.contacts {
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-bottom: 2px solid $dark;

    @media(max-width: 992px) {
        margin-bottom: 40px;
        padding-bottom: 18px;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 28px;

        @media(max-width: 992px) {
            margin-bottom: 26px;
            font-size: 13px;
            line-height: 18px;
        }

        &:before {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            margin-right: 20px;
            background-repeat: no-repeat;
            background-position: center center;
        }

        &--email:before {
            background-image: url('/images/contacts-email.svg');
        }

        &--phone:before {
            background-image: url('/images/contacts-phone.svg');
        }

        a {
            color: $dark !important;
        }
    }
}
