.et-two-columns {
    position: relative;
    min-height: 640px;
    padding-top: 60px;
    padding-bottom: 60px;

    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;

        @media(max-width: 992px) {
            flex-wrap: wrap;
        }
    }

    &__left, &__right {
        flex-basis: 50%;
        width: 50%;

        @media(max-width: 992px) {
            flex-basis: 100%;
            width: 100%;
        }
    }

    &__image {
        position: relative;

        @media(max-width: 992px) {
            display: none;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text {
        h2 {
            margin-bottom: 25px;
        }

        p {
            margin-bottom: 25px;
            letter-spacing: -0.1px;
        }
    }
}
