.et-tabs {
    &__header {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    &__button {
        position: relative;
        display: inline-block;
        margin-right: 20px;
        padding-bottom: 10px;
        color: $gray-1;
        cursor: pointer;

        @media(max-width: 375px) {
            margin-right: 10px;
            font-size: 12px;
        }

        &:last-child {
            margin-right: 0;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            width: 0;
            height: 2px;
            background-color: $dark;
            transition: .2s;
        }

        &--active {
            color: $dark;

            &:after {
                width: 100%;
            }
        }
    }
}
