.faq-list-item {
    border-bottom: 2px solid $dark;

    &:first-child {
        border-top: 2px solid $dark;
    }

    &__inner {
        overflow: hidden;
    }

    &__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 46px;
        padding-bottom: 46px;
        cursor: pointer;

        @media(max-width: 992px) {
            padding-top: 31px;
            padding-bottom: 31px;
        }

    }

    &__question {
        font-size: 24px;
        line-height: 32px;

        @media(max-width: 992px) {
            font-size: 13px;
            line-height: 18px;
        }
    }

    &__icon {
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
        margin-left: 25px;
        flex-shrink: 0;

        @media(max-width: 992px) {
            width: 46px;
            height: 20px;
            margin-left: 15px;
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            background-color: $dark;
            transition: .1s;
        }

        &:before {
            width: 20px;
            height: 2px;
        }

        &:after {
            width: 2px;
            height: 20px;
        }
    }

    &__answer {
        display: none;
        max-width: 900px;
        padding-top: 10px;
        padding-bottom: 46px;
        padding-right: 46px;
        font-size: 13px;
        line-height: 18px;

        @media(max-width: 992px) {
            padding-top: 5px;
            padding-bottom: 22px;
            font-size: 11px;
            line-height: 14px;
        }
    }

    &--open {
        .faq-list-item__header {
            padding-bottom: 10px;

            @media(max-width: 992px) {
                padding-bottom: 5px;
            }
        }

        .faq-list-item__answer {
            display: block;
        }

        .faq-list-item__icon:after {
            top: -60px;
        }
    }
}
