.pagination {
    margin-bottom: 0;

    .page-link {
        display: flex;
        align-items: center;
        min-height: 38px;
        padding: 10px;
        border: 0;
        color: $dark;

        &:hover {
            background-color: inherit;
        }

        &--active {
            font-size: 14px;
            font-weight: 700;
        }
    }

    .page-item:first-child .page-link,
    .page-item:last-child .page-link {
        font-size: 0;

        &:before {
            display: block;
            width: 7px;
            height: 15px;
        }
    }

    .page-item:first-child .page-link:before {
        content: url('/images/pagination-prev.svg');
    }

    .page-item:last-child .page-link:before {
        content: url('/images/pagination-next.svg');
    }
}
