.reset-password {
    position: static;
    opacity: 1;
    visibility: visible;

    &__window {
        position: static;
        max-width: 520px;
        margin: 100px auto;
        transform: none;

        @media(max-width: 992px) {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }

    &__title {
        margin-bottom: 20px;
    }

    &__field {
        margin-bottom: 20px;
    }

    &__label {
        margin-bottom: 5px;
    }

    &__submit {
        margin-top: 30px;
    }

    &__next {
        margin-top: 30px;
    }
}
