.signs-field {
    position: relative;
    z-index: 1;

    &--select {
        position: relative;

        .signs-field__inner:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            display: block;
            width: 15px;
            height: 15px;
            background-image: url('/images/select-arrow.svg');
            background-repeat: no-repeat;
            background-position: center center;
        }

        &.signs-field--open {
            .signs-field-list {
                display: block;
            }

            .signs-field__inner:after {
                transform: rotate(180deg) translateY(50%);
            }
        }
    }
}

.signs-field-list {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .2);
    background-color: $white;
    overflow: hidden;
    font-size: 13px;
    line-height: 18px;
    transition: .2s;

    &__inner {
        position: relative;
        z-index: 1;
        max-height: 220px;
        overflow-y: auto;
    }

    &__item {
        position: relative;
        padding: 13px 15px 14px;
        transition: .2s;
        cursor: pointer;

        &:after {
            content: '';
            position: absolute;
            left: 17px;
            right: 17px;
            bottom: 0;
            height: 1px;
            background-color: $gray-3;
        }

        &:hover {
            background-color: $yellow;
        }
    }
}
