.steps-header {
    display: flex;
    margin-bottom: 50px;
    padding-left: 0;
    list-style: none;
    counter-reset: counter;

    @media(max-width: 992px) {
        margin-bottom: 40px;
    }

    &__item {
        counter-increment: counter;

        &:last-child {
            .steps-header__arrow {
                display: none;
            }
        }

        &--active {
            .steps-header__btn {
                font-weight: 500;
                letter-spacing: -.2px;
                color: $dark;

                &:hover {
                    color: $dark;
                }

                &:before {
                    border: 2px solid $dark;
                }
            }
        }

        &--current {
            .steps-header__text {
                @media(max-width: 768px) {
                    display: inline;
                }
            }
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        padding: 0;
        margin-right: 15px;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: $gray-1;

        &:hover {
            color: $gray-1;
        }

        @media(max-width: 992px) {
            margin-right: 5px;
            font-size: 13px;
            line-height: 18px;
        }

        @media(max-width: 575px) {
            font-size: 11px;
            line-height: 14px;
        }

        &:before {
            content: counter(counter);
            display: inline-flex;
            align-items: center;
            flex-shrink: 0;
            justify-content: center;
            width: 25px;
            height: 25px;
            border: 1px solid $gray-1;
            border-radius: 50%;
            font-weight: 500;

            @media(max-width: 992px) {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__text {
        margin-left: 15px;

        @media(max-width: 768px) {
            margin-left: 5px;
            display: none;
        }
    }

    &__arrow {
        margin-left: 15px;

        @media(max-width: 992px) {
            margin-left: 5px;
        }
    }
}

.steps-item {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $gray-5;

    @media(max-width: 992px) {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    &__field {
        margin-bottom: 20px;
    }

    &__label {
        margin-bottom: 5px;
    }
}
