<template>
    <div
        class="et-modal modal-forgot-password"
        :class="{'et-modal--open' : show}"
    >
        <div class="et-modal__substrate" @click="close"></div>

        <div class="et-modal__window modal-forgot-password__window">
            <div class="et-modal__close" @click="close"></div>

            <div v-if="!sent" class="form et-modal__inner modal-forgot-password__inner">

                <h5 class="modal-forgot-password__title">{{ trans('modal_forgot_password.title') }}</h5>

                <div class="modal-forgot-password__field">
                    <label for="emailForgotPassword" class="modal-forgot-password__label">
                        {{ trans('modal_forgot_password.label') }} *
                    </label>

                    <input
                        v-model="email"
                        id="emailForgotPassword"
                        type="email"
                        class="modal-forgot-password__input"
                        :placeholder="trans('modal_forgot_password.label')"
                    />

                    <p
                        v-if="errors && 'email' in errors"
                        v-for="error in errors.email"
                        class="error"
                    >
                        {{ error }}
                    </p>
                </div>

                <button
                    class="et-btn et-btn--dark modal-forgot-password__sumbit"
                    @click="submit"
                    :disabled="!email.length || !this.canSend"
                >
                    <span class="et-btn__text">{{ trans('modal_forgot_password.btn_submit') }}</span>
                </button>

                <button class="btn modal-forgot-password__login" @click="goToLogin">
                    {{ trans('modal_forgot_password.btn_login') }}
                </button>
            </div>

            <div v-if="sent" class="et-modal__inner modal-forgot-password__inner">
                <h5 class="modal-forgot-password__title">{{ trans('modal_forgot_password.title') }}</h5>

                <p class="modal-forgot-password__successfull-text">
                    {{ trans('modal_forgot_password.successfull_before') }}
                    <u> {{ email }}</u> {{ trans('modal_forgot_password.successfull_after') }}
                </p>

                <p class="modal-forgot-password__notice">
                    {{ trans('modal_forgot_password.notice_title') }}

                    <img
                        class="modal-forgot-password__icon"
                        src="\images\forgot-password-notice.svg"
                        width="15"
                        height="15"
                        :content="trans('modal_forgot_password.notice_text')"
                        v-tippy="{ placement : 'bottom',  arrow: false }"
                    >

                    <button
                        type="button"
                        @click.stop.prevent="submit"
                        :disabled="!canSend"
                        class="btn modal-forgot-password__resend"
                    >
                        {{ trans('modal_forgot_password.btn_resend') }}

                        <span v-if="timerValue">({{ timerValue }})</span>
                    </button>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    const RESEND_TIMEOUT = 60;

    export default {
        data() {
            return {
                email: '',
                errors: {},
                sent: false,
                canSend: true,
                timerValue: 0,
                interval: null,
            }
        },

        computed: {
            show() {
                return this.$store.getters['modals/getForgotPasswordVisibility'];
            },
        },

        methods: {
            /**
             * Submits the password recovery form.
             */
            submit () {
                this.canSend = false;

                axios.post('/password/email', { email: this.email })
                    .then((response) => {
                        if (response.status === 200) {
                            this.sent = true;
                            this.launchResendTimer();
                        }
                    })
                    .catch((error) => {
                        this.canSend = true;
                        this.errors = error.response.data.errors;
                    });
            },

            /**
             * Switches to the login form
             */
            goToLogin () {
                this.errors = {};
                this.$store.commit('modals/toggleLogin');
                this.$store.commit('modals/toggleForgotPassword');
            },

            /**
             * Closes the authentication window
             */
            close () {
                this.errors = {};
                this.email = '';
                this.sent = false;
                this.canSend = true;
                this.timerValue = 0;
                clearInterval(this.interval);
                this.$store.commit('modals/toggleForgotPassword');
            },

            /**
             * Starts the timer with the resend button
             */
            launchResendTimer() {
                this.timerValue = RESEND_TIMEOUT;

                this.interval = setInterval(() => {
                    this.timerValue--;
                    if(this.timerValue <= 0) {
                        clearInterval(this.interval);
                        this.canSend = true;
                    }
                }, 1000);

            }
        },
    }
</script>
