<template>
    <button
        @click.prevent="buy"
        :class="classes"
    >
        <span class="et-btn__text">{{ buttonText }}</span>
    </button>
</template>

<script>
    import { Vignette } from '@front-resources-js/store/modules/choose-vignettes';

    export default {
        props: {
            buttonText: {
                type: String,
                required: true,
            },

            vignetteId: {
                type: String,
                required: true,
            },

            sign: {
                type: String,
                required: false,
            },

            country: {
                type: String,
                required: false,
            },

            classes: {
                type: String,
                default: 'et-btn et-btn--light',
            }
        },

        methods: {
            /**
             * Adds vignettes to the Cart
             */
            buy() {
                const vignetteData = {vignetteId: this.vignetteId};
                if (this.sign) {
                    vignetteData.sign = this.sign;
                }
                if (this.country) {
                    vignetteData.country = this.country;
                }

                const vignettes = [new Vignette(vignetteData)];
                this.$store.commit('chooseVignettes/setVignettes', {vignettes});
                this.$store.dispatch('chooseVignettes/saveState');

                location.href = `/${this.appLocale}/vignettes`;
            }
        },
    }
</script>
