<template>
    <v-select
        :id="id"
        :options="countries"
        :value="selectedCountryName"
        @option:selected="(option) => $emit('input', option.value)"
    >
        <template v-slot:no-options="{ search, searching }">
            <template v-if="searching">
                {{ trans('global.country_select_no_result') }} <em>{{ search }}</em>.
            </template>
        </template>
    </v-select>
</template>

<script>
    export default {
        computed: {
            /**
             * Returns the name for selected country
             */
            selectedCountryName() {
                const countryName = this.value ? this.$store.getters['countries/getCountries'][this.value] : '';

                return countryName ? `${this.value} - ${countryName}` : '';
            },

            /**
             * Returns the  countries from a storage
             */
            countries() {
                return this.$store.getters['countries/getCountriesArr'];
            },
        },

        props: {
            value: String,
            id: String,
        },

        mounted() {
            this.$store.dispatch('countries/loadCountries');
        },
    }
</script>
