<template>
    <div class="container">
        <div class="columns">
            <form @submit.prevent="onSubmit(formLink)" @keydown="formLink.errors.clear($event.target.name)" @change="formLink.errors.clear($event.target.name)">
                <div class="form-group row">
                    <label for="content_i"
                           class="col-sm-4 col-form-label text-md-right">URL</label>
                    <div class="col-md-6">
                        <input type="text" id="content_i" class="form-control"
                               v-model="formLink.content" autofocus>

                        <span class="text-danger" v-if="formLink.errors.has('content')"
                              v-text="formLink.errors.get('content')"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="name_i"
                           class="col-sm-4 col-form-label text-md-right">Підпис посилання</label>
                    <div class="col-md-6">
                        <input type="text" id="name_i" class="form-control"
                               v-model="formLink.name">

                        <span class="text-danger" v-if="formLink.errors.has('name')"
                              v-text="formLink.errors.get('name')"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="visible1"
                           class="col-sm-4 col-form-label text-md-right">Видимість</label>
                    <div class="col-md-6">
                        <select id="visible1" name="type" class="form-control" v-model="formLink.visible">
                            <option v-for="(item, key) in visibleStatuses" :value=key>
                                {{ item }}
                            </option>
                        </select>

                        <span class="text-danger" v-if="formLink.errors.has('visible')"
                              v-text="formLink.errors.get('visible')"></span>
                    </div>
                </div>

                <div class="form-group row mb-0">
                    <div class="col-md-8 offset-md-4">
                        <button class="btn btn-primary" :disabled="formLink.errors.any()">Зберегти</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>

    import Form from '../../form';
    import EventBus from '../../event-bus';
    import { ALERT_MSG, NEW_MENU_ITEM } from '../../constants';

    export default {
        props: {
            hasPageModule: {
                type: Boolean,
                required: true,
            },
            menuId: {
                type: Number,
                required: true,
            },
            visibleStatuses: {
                type: Object,
                required: true,
            },
            visibleDefault: {
                type: Number,
                required: true,
            },
        },
        data: function() {
            return {
                formLink: new Form({
                    name: '',
                    content: '',
                    menu_id: this.menuId,
                    visible: this.visibleDefault,
                }),
                tree: [],
            }
        },
        methods: {
            onSubmit(form) {
                form.post('/admin/menu-item')
                    .then(response => {
                        this.emitMethod(response);
                        form.name = '';
                        form.content = '';
                        form.visible = this.visibleDefault;
                        // location.reload();
                    })
                    .catch((error) => {
                        EventBus.$emit('ALERT_MSG', {
                            message: error.message,
                            messageType: 'error'
                        });
                    });
            },

            emitMethod (response) {
                EventBus.$emit(NEW_MENU_ITEM, response);
            },
        },
        mounted() {
            //
        }
    }
</script>
<style lang="css" scoped>
    .help-tabs {
        margin-bottom: 10px !important;
    }
    .tabs li.is-active a {
        border-bottom-color: #000000;
        color: #7763A9;
        border-bottom: 3px solid;
        font-weight: bold;
    }
    code, pre {
        color: #1b1e21 !important;
        background-color: white !important;
    }
</style>
