.choose-vignette-item {
    position: relative;
    margin-bottom: 20px;

    &__remove {
        @include close-icon;

        position: absolute;
        right: 20px;
        top: 20px;
    }

    &__inner {
        padding: 50px 40px 30px;
        background-color: $gray-5;

        @media(max-width: 768px) {
            padding: 30px 20px 10px;
        }
    }

    &__title {
        margin-bottom: 30px;
    }

    &__field {
        margin-bottom: 20px;
    }

    .mx-datepicker {
        width: 100%;
    }
}
