.choose-vignette {
    &__add-btn {
        margin-top: 20px;
        margin-bottom: 40px;
        padding-top: 10px;
        padding-bottom: 10px;

        @media(max-width: 768px) {
            margin-bottom: 20px;
        }
    }

    &__submit-btn {
        min-width: 274px;

        @media(max-width: 768px) {
            width: 100%;
        }
    }
}
