<template>
    <div class="ipay-btn ipay-btn--google" ref="buttonContainer"></div>
</template>

<script>
/**
 * Response status payment verification is required
 */
const STATUS_VERIFICATION_REQUIRED = 1;

/**
 * Response status pre-authorization of funds is successful
 */
const STATUS_PRE_AUTHORIZATION = 3;

/**
 * Response status unsuccessful
 */
const STATUS_UNSUCCESSFUL = 4;

/**
 * Response status success
 */
const STATUS_SUCCESS = 5;

/**
 * Response status successful cancellation
 */
const STATUS_CANCEL_SUCCESSFUL = 9;

/**
 * Response status failure of the security service
 */
const STATUS_SECURITY_FAILURE = 14;

/**
 * Identify your gateway and your site's gateway merchant identifier
 *
 * The Google Pay API response will return an encrypted payment method capable
 * of being charged by a supported gateway after payer authorization
 *
 * @todo check with your gateway on the parameters to pass
 * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#gateway|PaymentMethodTokenizationSpecification}
 */
const tokenizationSpecification = {
    type: 'PAYMENT_GATEWAY',
    parameters: {
        'gateway': process.env.MIX_GOOGLE_GATEWAY,
        'gatewayMerchantId': process.env.MIX_GOOGLE_GATEWAY_MERCHANT_ID
    },
};

/**
 * Define the version of the Google Pay API referenced when creating your
 * configuration
 *
 * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#PaymentDataRequest|apiVersion}
 */
const baseRequest = {
    apiVersion: 2,
    apiVersionMinor: 0
};

/**
 * Card networks supported by your site and your gateway
 *
 * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#CardParameters|CardParameters}
 * @todo confirm card networks supported by your site and gateway
 */
const allowedCardNetworks = ['MASTERCARD', 'VISA'];

/**
 * Card authentication methods supported by your site and your gateway
 *
 * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#CardParameters|CardParameters}
 * @todo confirm your processor supports Android device tokens for your
 * supported card networks
 */
const allowedCardAuthMethods = ['PAN_ONLY', 'CRYPTOGRAM_3DS'];

/**
 * Describe your site's support for the CARD payment method and its required
 * fields
 *
 * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#CardParameters|CardParameters}
 */
const baseCardPaymentMethod = {
    type: 'CARD',
        parameters: {
        allowedAuthMethods: allowedCardAuthMethods,
        allowedCardNetworks: allowedCardNetworks
    }
};

/**
 * Describe your site's support for the CARD payment method including optional
 * fields
 *
 * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#CardParameters|CardParameters}
 */
const cardPaymentMethod = Object.assign(
    {},
    baseCardPaymentMethod,
    {
        tokenizationSpecification: tokenizationSpecification
    }
);

/**
 * An initialized google.payments.api.PaymentsClient object or null if not yet set
 *
 * @see {@link getGooglePaymentsClient}
 */
let paymentsClient = null;

/**
 * Configure your site's support for payment methods supported by the Google Pay
 * API.
 *
 * Each member of allowedPaymentMethods should contain only the required fields,
 * allowing reuse of this base request when determining a viewer's ability
 * to pay and later requesting a supported payment method
 *
 * @returns {object} Google Pay API version, payment methods supported by the site
 */
function getGoogleIsReadyToPayRequest() {
    return Object.assign(
        {},
        baseRequest,
        {
            allowedPaymentMethods: [baseCardPaymentMethod]
        }
    );
};

/**
 * Return an active PaymentsClient or initialize
 *
 * @see {@link https://developers.google.com/pay/api/web/reference/client#PaymentsClient|PaymentsClient constructor}
 * @returns {google.payments.api.PaymentsClient} Google Pay API client
 */
function getGooglePaymentsClient() {
    if ( paymentsClient === null ) {
        paymentsClient = new google.payments.api.PaymentsClient({environment: process.env.MIX_GOOGLE_MERCHANT_ENVIRONMENT});
    }

    return paymentsClient;
};

export default {
    data() {
        return {
            /**
             * Payment token for IPay request
             */
            paymentToken: null,
        }
    },

    computed: {
        /**
         * Configure support for the Google Pay API
         *
         * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#PaymentDataRequest|PaymentDataRequest}
         * @returns {object} PaymentDataRequest fields
         */
        getGooglePaymentDataRequest() {
            const paymentDataRequest = Object.assign({}, baseRequest);
            paymentDataRequest.allowedPaymentMethods = [cardPaymentMethod];
            paymentDataRequest.transactionInfo = this.getGoogleTransactionInfo;
            paymentDataRequest.merchantInfo = {
                // @todo a merchant ID is available for a production environment after approval by Google
                // See {@link https://developers.google.com/pay/api/web/guides/test-and-deploy/integration-checklist|Integration checklist}
                merchantId: process.env.MIX_GOOGLE_MERCHANT_ID,
                merchantName: process.env.MIX_GOOGLE_MERCHANT_NAME
            };

            return paymentDataRequest;
        },

        /**
         * Provide Google Pay API with a payment amount, currency, and amount status
         *
         * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#TransactionInfo|TransactionInfo}
         * @returns {object} transaction info, suitable for use as transactionInfo property of PaymentDataRequest
         */
        getGoogleTransactionInfo() {
            return {
                countryCode: 'UA',
                currencyCode: 'UAH',
                totalPriceStatus: 'FINAL',
                totalPrice: this.amount,
            };
        },

        /**
         * Returns the calculated GoogleApi Fee object.
         * @returns {any}
         */
        amount() {
            const fee = this.$store.getters['cart/getGooglePayFee'];

            return 'amount' in fee ? fee.amount.toString() : '';
        },
    },

    methods: {
        /**
         * Process payment data returned by the Google Pay API
         *
         * @param {object} paymentData response from Google Pay API after user approves payment
         * @see {@link https://developers.google.com/pay/api/web/reference/response-objects#PaymentData|PaymentData object reference}
         */
        processPayment(paymentData) {
            this.paymentToken = paymentData.paymentMethodData.tokenizationData.token;
            this.sendPayment();
        },

        /**
         * Show Google Pay payment sheet when Google Pay payment button is clicked
         */
        onGooglePaymentButtonClicked() {
            const paymentDataRequest = this.getGooglePaymentDataRequest;
            paymentDataRequest.transactionInfo = this.getGoogleTransactionInfo;

            const paymentsClient = getGooglePaymentsClient();
            paymentsClient.loadPaymentData(paymentDataRequest)
                .then((paymentData) => {
                    // handle the response
                    this.processPayment(paymentData);
                })
                .catch((err) => {
                    // show error in developer console for debugging
                    console.error(err);
                });
        },

        /**
         * Add a Google Pay purchase button alongside an existing checkout button
         *
         * @see {@link https://developers.google.com/pay/api/web/reference/request-objects#ButtonOptions|Button options}
         * @see {@link https://developers.google.com/pay/api/web/guides/brand-guidelines|Google Pay brand guidelines}
         */
        addGooglePayButton() {
            const paymentsClient = getGooglePaymentsClient();
            const button =
                paymentsClient.createButton({
                    onClick: this.onGooglePaymentButtonClicked,
                    allowedPaymentMethods: [baseCardPaymentMethod]
                });

            this.$refs.buttonContainer.appendChild(button);
            this.$emit('button-available', true);
        },

        /**
         * Initialize Google PaymentsClient after Google-hosted JavaScript has loaded
         *
         * Display a Google Pay payment button after confirmation of the viewer's
         * ability to pay.
         */
        onGooglePayLoaded() {
            const paymentsClient = getGooglePaymentsClient();
            paymentsClient.isReadyToPay(getGoogleIsReadyToPayRequest())
                .then((response) => {
                    if (response.result) {
                        this.addGooglePayButton();
                        this.$emit('loading-complete');
                    }
                })
                .catch((err) => {
                    console.error(err);
                    this.$emit('loading-complete');
                });
        },

        /**
         * Injects a script tag to load the GooglePay library
         */
        injectGooglePayScript () {
            if (!paymentsClient) {
                // load google pay script
                const googlePayScript = document.createElement('script')
                googlePayScript.setAttribute('src', 'https://pay.google.com/gp/p/js/pay.js')
                googlePayScript.setAttribute('async', true)
                googlePayScript.setAttribute('defer', true)
                googlePayScript.onload = () => this.onGooglePayLoaded()
                googlePayScript.onerror = () => this.$emit('loading-complete');
                document.head.appendChild(googlePayScript)
            }
        },

        /**
         * Sends 3D verification data to create a payment
         * @see {@link https://api-googlepay.ipay.ua/doc}
         */
        sendPayment() {
            const data = {
                token: this.paymentToken,
                browser_language: window.navigator.language,
                browser_screen_height: window.innerHeight.toString(),
                browser_screen_width: window.innerWidth.toString(),
                browser_tz: new Date().getTimezoneOffset().toString(),
                browser_color_depth: window.screen.colorDepth.toString(),
            };

            this.$emit('payment-process', true);

            axios.post('/payments/google', data)
                .then((response) => {
                    if (response.status === 200) {
                        if (response.data.pmt_status === STATUS_SUCCESS) {
                            this.$emit('payment-process', false);
                            this.$emit('payment-success');
                        } else if(response.data.pmt_status === STATUS_VERIFICATION_REQUIRED) {
                            window.location.replace(response.data.security_data.redirect_url);
                        }
                    }
                })
                .catch((error) => {
                    console.log(error);
                });
        }
    },

    mounted() {
        this.injectGooglePayScript();
    }
}
</script>
