<template>
    <div class="ipay-btn ipay-btn--masterpass">
        <button v-if="session && loaded" href="#" @click="onclickHandler">
            <img src="https://widgetmp.ipay.ua/mp-button.svg">
        </button>
    </div>
</template>

<script>
export default {
    data() {
        return {
            lang: 'ua',
            session: null,
            loaded: false,
            widget: null,
        }
    },

    computed: {
        /**
         * Returns partner ID
         */
        partner() {
            return process.env.MIX_MASTERPASS_IPAY_LOGIN;
        },

        /**
         * Returns data for the widget initialization
         */
        widgetData() {
            return {
                partner: this.partner,
                lang: this.lang,
                session: this.session,
            }
        },
    },

    methods: {
        /**
         * Opens modal masterpass payment system
         */
        onclickHandler () {
            this.$emit('payment-process', true);
            this.widget = MasterpassWidget.open(
                this.widgetData,
                this.handlerClosed,
                this.handlerSuccessPayment,
                this.handlerError,
            );
        },

        /**
         * Callback handler fires when modal closes
         */
        handlerClosed() {
            this.$emit('payment-process', false);
        },

        /**
         * Callback for successful payment
         */
        handlerSuccessPayment() {},

        /**
         * Callback fires when massterpass has some error
         */
        handlerError() {
            this.$emit('payment-process', false);
        },

        /**
         * Loads the session key for the widget init
         */
        loadSessionKey() {
            axios.get('/payments/masterpass/widgetinit')
                .then((response) => {
                    if (response.status === 200 && 'session' in response.data) {
                        this.session = response.data.session;
                        this.$emit('loading-complete')
                        this.$emit('button-available', true);
                    } else {
                        this.$emit('button-available', false);
                        this.$emit('loading-complete')
                        console.error(response.data);
                    }
                })
                .catch((error) => {
                    this.$emit('loading-complete')
                    console.log(error);
                });
        },

        /**
         * Injects a script tag to load the Masterpass library
         */
        injectMasterpassPayScript () {
            if (!this.paymentsClient) {
                // load google pay script
                const googlePayScript = document.createElement('script');
                googlePayScript.setAttribute('src', 'https://widgetmp.ipay.ua/widget.js');
                googlePayScript.setAttribute('async', true);
                googlePayScript.setAttribute('defer', true);
                googlePayScript.onload = () => {
                    this.loaded = true;
                };
                googlePayScript.onerror = () => this.$emit('loading-complete');
                document.head.appendChild(googlePayScript)
            }
        },
    },

    mounted() {
        this.loadSessionKey();
        this.injectMasterpassPayScript();
    },
}
</script>
