<template>
    <div class="choose-vignette-item">
        <button class="btn choose-vignette-item__remove" @click.prevent="remove"></button>

        <div class="choose-vignette-item__inner">
            <h3 class="choose-vignette-item__title">
                {{ 1 + index }} {{ trans('pagechoosevignette.item_title') }}
            </h3>

            <div class="row">
                <div class="col-md-4 choose-vignette-item__field">
                    <label :for="'country_' + index" class="choose-vignette-item__label">
                        {{ trans('pagechoosevignette.country_label') }}
                    </label>

                    <et-countries
                        :id="'country_' + index"
                        :value="vignette.country"
                        @input="(value) => changeData('country', value)"
                    ></et-countries>

                    <p
                        v-if="hasErrors && `vignettes.${index}.country` in errors"
                        v-for="error in errors[`vignettes.${index}.country`]"
                        class="error"
                    >
                        {{ error }}
                    </p>
                </div>

                <div class="col-md-4 choose-vignette-item__field">
                    <label for="sign" class="choose-vignette-item__label">
                        {{ trans('pagechoosevignette.sign_label') }}
                    </label>

                    <sign-field
                        :value="vignette.sign"
                        :placeholder="trans('pagechoosevignette.sign_placeholder')"
                        id="sign"
                        classes="choose-vignette-item__input"
                        @input="(value) => changeData('sign', value)"
                    ></sign-field>

                    <p
                        v-if="hasErrors && `vignettes.${index}.sign` in errors"
                        v-for="error in errors[`vignettes.${index}.sign`]"
                        class="error"
                    >
                        {{ error }}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 choose-vignette-item__field">
                    <label :for="'product_' + index" class="choose-vignette-item__label">
                        {{ trans('pagechoosevignette.vignette_label') }}
                    </label>

                    <v-select
                        :searchable="false"
                        :id="'product_' + index"
                        :options="products"
                        :value="selectedProductName"
                        @option:selected="(option) => changeData('vignetteId', option.value)"
                    >
                        <template v-slot:no-options="{ search, searching }">
                            <template v-if="searching">
                                {{ trans('pagechoosevignette.country_no_result') }} <em>{{ search }}</em>.
                            </template>
                        </template>
                    </v-select>

                    <p
                        v-if="hasErrors && `vignettes.${index}.vignetteId` in errors"
                        v-for="error in errors[`vignettes.${index}.vignetteId`]"
                        class="error"
                    >
                        {{ error }}
                    </p>
                </div>

                <div class="col-md-4 choose-vignette-item__field">
                    <label :for="'product_' + index" class="choose-vignette-item__label">
                        {{ trans('pagechoosevignette.start_label') }}
                    </label>

                    <v-datepicker
                        :value="vignette.start"
                        :value-type="DATE_FORMAT"
                        :format="DATE_FORMAT"
                        :disabled-date="disabledDate"
                        @change="(data) => changeData('start', data)"
                        input-class="choose-vignette-item__input"
                        :lang="datepickerLocale"
                    ></v-datepicker>

                    <p
                        v-if="hasErrors && `vignettes.${index}.start` in errors"
                        v-for="error in errors[`vignettes.${index}.start`]"
                        class="error"
                    >
                        {{ error }}
                    </p>
                </div>

                <div class="col-md-4 choose-vignette-item__field">
                    <label :for="'product_' + index" class="choose-vignette-item__label">
                        {{ trans('pagechoosevignette.end_label') }}
                    </label>

                    <input
                        type="text"
                        :value="endDate"
                        disabled
                        class="choose-vignette-item__input"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    const locales = {
        ua: require('vue2-datepicker/locale/uk.js'),
        en: require('vue2-datepicker/locale/en.js'),
        pl: require('vue2-datepicker/locale/pl.js'),
    };

    export default {
        data() {
            return {
                /**
                 * Date format of the Datepicker
                 */
                DATE_FORMAT: 'DD.MM.YYYY',

                /**
                 * Variable for the saving timer
                 */
                timer: null,
            }
        },

        props: {
            /**
             * Index of current item of the vignettes list
             */
            index: {
                type: Number,
                required: true,
            },

            /**
             * Object of the vignette
             */
            vignette: Object,
        },

        computed: {
            /**
             * Returns the errors
             */
            errors() {
                return this.$store.getters['chooseVignettes/getErrors'];
            },

            /**
             * Checks is has any errors
             */
            hasErrors() {
                return this.$store.getters['chooseVignettes/hasErrors'];
            },

            /**
             * Return the name for dysplay of the country select
             * @returns {string}
             */
            selectedProductName() {
                return this.products.filter(item => item.value == this.vignette.vignetteId);
            },
            /**
             * Returns products from a storage
             */
            products() {
                return this.$store.getters['products/getProducts'].map(item => {
                    return {
                        label: `${item.term}-${this.trans('pagechoosevignette.vignette_name')} ${this.currentYear}`,
                        value: item.id,
                        term: item.term,
                    }
                })
            },

            /**
             * Returns current year
             */
            currentYear() {
                return moment().year();
            },

            /**
             * Returns the product related for this vignette
             * @returns {*}
             */
            currentProduct() {
                return this.products.find(item => item.value == this.vignette.vignetteId)
            },

            /**
             * Calculdates the end date
             */
            endDate() {
                let endDate = null;
                if (this.currentProduct && this.vignette.start) {
                    endDate = moment(this.vignette.start, this.DATE_FORMAT)
                        .add(this.currentProduct.term - 1, 'days')
                        .format(this.DATE_FORMAT);
                }

                return endDate;
            },

            /**
             * Returns the object of the local for the datepicker
             * @returns {*}
             */
            datepickerLocale() {
                const locale = locales[this.appLocale];
                locale.monthFormat = 'MMMM';

                return locale;
            }
        },

        methods: {
            /**
             * Calculates unavailable dates
             * @param date
             * @param currentValue
             * @returns {boolean}
             */
            disabledDate(date, currentValue) {
                return moment(date).startOf('day') < moment().startOf('day');
            },

            /**
             * Copies the props, replaces the passed value, and pushes the modified object to storage.
             * @param key
             * @param data
             */
            changeData(key, data) {
                clearTimeout(this.timer);

                this.timer = setTimeout(() => {
                    const vignette = Object.assign({}, this.vignette)
                    vignette[key] = data;

                    this.$store.commit('chooseVignettes/updateVignette', { vignette, index: this.index });
                }, 200);
            },

            /**
             * Removes the Vignette from the storage
             * Sends validate request to check if errors were there before
             */
            remove() {
                this.$store.commit('chooseVignettes/removeItem', { index: this.index });

                if (this.hasErrors) {
                    this.$store.dispatch('chooseVignettes/validate');
                }
            },
        },
    }
</script>
