<template>
    <form class="choose-vignette">
        <div class="choose-vignette__items">
            <ChooseVignetteItem
                v-if="items.length"
                v-for="(item, index) in items"
                :key="index"
                :vignette="item"
                :index="index"
            ></ChooseVignetteItem>
        </div>

        <button
            @click.prevent="addVignette"
            class="et-btn et-btn--light et-btn--small w-100 choose-vignette__add-btn"
        >
            <span class="et-btn__text">{{ trans('pagechoosevignette.add_button') }}</span>
        </button>

        <button
            @click.prevent="submit"
            class="et-btn et-btn--dark choose-vignette__submit-btn"
        >
            <span class="et-btn__text">{{ trans('pagechoosevignette.submit_button') }}</span>
        </button>
    </form>
</template>

<script>
    import ChooseVignetteItem from './ChooseVignetteItem';

    export default {
        components: { ChooseVignetteItem },

        computed: {
            items() {
                return this.$store.getters['chooseVignettes/getVignettes']
            }
        },

        methods: {
            /**
             * Adds the empty vignette to the list
             * @param vignette
             */
            addVignette(vignette) {
                this.$store.commit('chooseVignettes/addEmptyVignette');
            },

            /**
             * Send the vignettes list to saving
             */
            submit() {
                this.$store.dispatch('chooseVignettes/toOrder');
            }
        },

        mounted() {
            this.$store.dispatch('products/loadProducts');
            this.$store.dispatch('chooseVignettes/loadState');
            this.$store.dispatch('userSigns/loadSigns')
        }
    }
</script>
