<template>
    <div class="row cart-empty">
        <div class="col-md-6 order-md-2 cart-empty__right">
            <img
                class="cart-empty__image"
                src="/images/cart-empty.svg"
                :alt="trans('pagecart.empty_title')"
            />
        </div>

        <div class="col-md-6 order-md-1 cart-empty__left">
            <h3 class="cart-empty__title">
                {{ trans('pagecart.empty_title') }}
            </h3>

            <a :href="'/' + appLocale + '/#prices'" class="et-btn et-btn--dark cart-empty__button">
                <span class="et-btn__text">
                    {{ trans('pagecart.empty_button') }}
                </span>
            </a>
        </div>
    </div>
</template>
