<template>
    <div class="cart-list">
        <div class="cart-list__inner">
            <div class="cart-list__header">
                <div class="cart-list__column cart-list__column--type">
                    {{ trans('pagecart.column_type') }}
                </div>

                <div class="cart-list__column cart-list__column--name">
                    {{ trans('pagecart.column_name') }}
                </div>

                <div class="cart-list__column cart-list__column--sign">
                    {{ trans('pagecart.column_sign') }}
                </div>

                <div class="cart-list__column cart-list__column--start">
                    {{ trans('pagecart.column_start') }}
                </div>

                <div class="cart-list__column cart-list__column--end">
                    {{ trans('pagecart.column_end') }}
                </div>

                <div class="cart-list__column cart-list__column--price">
                    {{ trans('pagecart.column_price') }}
                </div>

                <div class="cart-list__column cart-list__column--actions"></div>
            </div>

            <div
                class="cart-list__items"
                :class="{'cart-list__items--loading': loading}"
            >
                <div
                    v-for="item in items"
                    :key="item.id"
                    class="cart-list__item"
                >
                    <div class="cart-list__column cart-list__column--type">
                        <span class="cart-list__label">{{ trans('pagecart.column_type') }}</span>

                        <img :src="item.categoryImage" :alt="item.categoryTitle" :title="item.categoryTitle"/>
                    </div>

                    <div class="cart-list__column cart-list__column--name">
                        <span class="cart-list__label">{{ trans('pagecart.column_name') }}</span>

                        {{ trans('pagecart.vignette_on') }} {{ item.term }}-{{ trans('pagecart.days') }}
                    </div>

                    <div class="cart-list__column cart-list__column--sign">
                        <span class="cart-list__label">{{ trans('pagecart.column_sign') }}</span>

                        {{ item.sign }}
                    </div>

                    <div class="cart-list__column cart-list__column--start">
                        <span class="cart-list__label">{{ trans('pagecart.column_start') }}</span>

                        {{ item.start }}
                    </div>

                    <div class="cart-list__column cart-list__column--end">
                        <span class="cart-list__label">{{ trans('pagecart.column_end') }}</span>

                        {{ item.end }}
                    </div>

                    <div class="cart-list__column cart-list__column--price">
                        <span class="cart-list__label">{{ trans('pagecart.column_price') }}</span>

                        {{ trans('pagecart.price_sign') }}{{ item.price }}
                    </div>

                    <div class="cart-list__column cart-list__column--actions">
                        <button class="btn cart-list__remove" @click="remove(item.id)"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        computed: {
            loading() {
                return this.$store.getters['cart/getLoading'];
            },

            items() {
                return this.$store.getters['cart/getItems'];
            },
        },

        methods: {
            remove(id) {
                this.$store.dispatch('cart/removeItem', { id });
            }
        },
    }
</script>
