<template>
    <div v-show="loaded" class="cart">
        <div v-if="hasProducts" class="cart__content">
            <div class="cart__items">
                <CartList></CartList>
            </div>

            <div class="cart__amount">
                <CartAmount></CartAmount>
            </div>
        </div>

        <div v-if="!hasProducts" class="cart__empty">
            <CartEmpty></CartEmpty>
        </div>
    </div>
</template>

<script>
import CartList from './CartList.vue';
import CartAmount from './CartAmount.vue';
import CartEmpty from './CartEmpty.vue';

export default {
    components: {
        CartList,
        CartAmount,
        CartEmpty,
    },

    computed: {
        loaded() {
            return this.$store.getters['cart/getLoaded'];
        },

        hasProducts() {
            return this.$store.getters['cart/hasProducts'];
        },
    },

    mounted() {
        this.$store.dispatch('cart/loadCart');
    }
}
</script>
