<template>
    <div class="cart-amount">
        <div class="cart-amount__inner">
            <h5 class="cart-amount__title">
                {{ trans('pagecart.amount_title') }}
            </h5>

            <hr>

            <h5 class="d-flex justify-content-between cart-amount__total">
                <span>{{ trans('pagecart.total') }}</span>

                <span>{{ total }} {{ trans('pagecart.price_sign') }}</span>
            </h5>

            <a :href="'/' + appLocale + '/checkout'" class="w-100 et-btn et-btn--dark cart-amount__submit" :disabled="loading">
                <span class="et-btn__text">{{ trans('pagecart.order_button') }}</span>
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        computed: {
            loading() {
                return this.$store.getters['cart/getLoading'];
            },

            total() {
                return this.$store.getters['cart/getTotal'];
            },
        },
    }
</script>
