<template>
    <form>
        <div class="modal-login__field">
            <label for="emailLogin" class="modal-login__label">
                {{ trans('modal_login.email') }} *
            </label>

            <input
                v-model="email"
                id="emailLogin"
                type="email"
                class="modal-login__input"
                :placeholder="trans('modal_login.email')"
            />

            <p
                v-if="errors && 'email' in errors"
                v-for="error in errors.email"
                class="error"
            >
                {{ error }}
            </p>
        </div>

        <div class="modal-login__field">
            <label for="passwordLogin" class="modal-login__label">
                {{ trans('modal_login.password') }} *
            </label>

            <input
                v-model="password"
                id="passwordLogin"
                type="password"
                class="modal-login__input"
                :placeholder="trans('modal_login.password')"
            />

            <p
                v-if="errors && 'password' in errors"
                v-for="error in errors.password"
                class="error"
            >
                {{ error }}
            </p>

            <a
                href="#"
                @click.prevent="goToForgotPassword"
                class="modal-login__forgot"
            >
                {{ trans('modal_login.forgot_password') }}
            </a>
        </div>

        <div class="modal-login__actions">
            <button
                @click.prevent="submit()"
                class="et-btn et-btn--dark modal-login__login-btn"
            >
                {{ trans('modal_login.login_button') }}
            </button>

            <a
                href="/google-auth"
                class="et-btn et-btn--light modal-login__google-btn"
            >
                <span class="et-btn__text">{{ trans('modal_login.google_button') }}</span>

                <img
                    src="/images/modal-login-google-button.png"
                    :alt="trans('modal_login.google_button')"
                />
            </a>
        </div>

        <p class="modal-login__register">
            {{ trans('modal_login.no_profile') }}

            <a href="#" @click.prevent="goToRegister">
                {{ trans('modal_login.register_text') }}
            </a>
        </p>
    </form>
</template>

<script>
    export default {
        data() {
            return {
                email: '',
                password: '',
            }
        },

        computed: {
            errors() {
                return this.$store.getters['users/getLoginErrors'];
            },
        },

        methods: {
            /**
             * Sends a request for user authentication
             * @returns {Promise<void>}
             */
            async submit() {
                const credentials = {
                    email: this.email,
                    password: this.password,
                };

                const loginResult = await this.$store.dispatch('users/login', { credentials });
                if (loginResult === true) {
                    location.reload();
                }
            },

            /**
             * Switches to the registration form
             */
            goToRegister() {
                this.$store.commit('modals/toggleRegistration');
                this.$store.commit('modals/toggleLogin');
                this.$store.commit('users/setLoginErrors', {errors: {}});
            },

            /**
             * Switches to the forgot password form
             */
            goToForgotPassword() {
                this.$store.commit('modals/toggleForgotPassword');
                this.$store.commit('modals/toggleLogin');
                this.$store.commit('users/setLoginErrors', {errors: {}});
            }
        },
    }
</script>
