<template>
    <div
        class="et-modal modal-login"
        :class="{'et-modal--open' : show}"
    >
        <div class="et-modal__substrate" @click="close"></div>

        <div class="et-modal__window modal-login__window">
            <div class="et-modal__close" @click="close"></div>

            <div class="et-modal__inner modal-login__inner">
                <div class="et-tabs">
                    <div class="et-tabs__header">
                        <h6
                            @click="selectedTab = TAB_PRIVATE"
                            class="et-tabs__button"
                            :class="{ 'et-tabs__button--active': selectedTab === TAB_PRIVATE }"
                        >
                            {{ trans('modal_login.tab_private') }}
                        </h6>

                        <h6
                            @click="selectedTab = TAB_ORGANIZATION"
                            class="et-tabs__button"
                            :class="{ 'et-tabs__button--active': selectedTab === TAB_ORGANIZATION }"
                        >
                            {{ trans('modal_login.tab_organization') }}
                        </h6>
                    </div>

                    <div class="et-tabs__body">
                        <div class="et-tabs__item" v-show="selectedTab === TAB_PRIVATE">
                            <LoginPrivateForm></LoginPrivateForm>
                        </div>

                        <div class="et-tabs__item" v-show="selectedTab === TAB_ORGANIZATION">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import LoginPrivateForm from './LoginPrivateForm';

    export default {
        components: {
            LoginPrivateForm,
        },

        data() {
            return {
                TAB_PRIVATE: 'tab-private',
                TAB_ORGANIZATION: 'tab-organization',
                selectedTab: 'tab-private',
            }
        },

        computed: {
            show() {
                return this.$store.getters['modals/getLoginVisibility'];
            },
        },

        methods: {
            /**
             * Closes the authentication window
             */
            close () {
                this.$store.commit('modals/toggleLogin');
                this.$store.commit('users/setLoginErrors', {errors: {}});
            },
        },
    }
</script>
