.cart {
    &__content {
        display: flex;
        justify-content: space-between;

        @media(max-width: 768px) {
            display: block;
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__items {
        flex-basis: 100%;
        margin-right: 30px;

        @media(max-width: 768px) {
            margin-right: 0;
            margin-bottom: 30px;
        }
    }

    &__amount {
        min-width: 277px;
    }
}
