.cart-list {
    &__header {
        display: flex;
        min-height: 40px;
        margin-bottom: 10px;
        background-color: $dark;
        color: $white;
        font-size: 12px;
        line-height: 16px;

        @media(max-width: 992px) {
            display: none;
        }
    }

    &__items {
        transition: .2s;

        &--loading {
            opacity: .5;
        }
    }

    &__item {
        position: relative;
        display: flex;
        min-height: 68px;
        margin-bottom: 10px;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        background-color: $gray-5;

        @media(max-width: 992px) {
            flex-wrap: wrap;
            padding: 5px;
            font-size: 13px;
            line-height: 18px;
        }

        @media(max-width: 375px) {
            padding-top: 10px;
        }
    }

    &__column {
        display: flex;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;

        @media(max-width: 992px) {
            display: block;
            width: 31% !important;
            padding: 10px;
        }

        &--type {
            justify-content: center;
            width: 13%;

            @media(max-width: 992px) {
                order: 1;
            }
        }

        &--name {
            width: 26%;

            @media(max-width: 992px) {
                order: 3;
            }
        }
        &--sign {
            width: 14%;

            @media(max-width: 992px) {
                order: 2;
            }
        }
        &--start {
            width: 15%;

            @media(max-width: 992px) {
                order: 4;
            }
        }
        &--end {
            width: 15%;

            @media(max-width: 992px) {
                order: 4;
            }
        }
        &--price {
            width: 10%;

            @media(max-width: 992px) {
                order: 4;
            }
        }
        &--actions {
            @media(max-width: 992px) {
                order: 4;
                padding: 0;
            }
        }
    }

    &__label {
        display: none;
        font-weight: 400;
        font-size: 11px;
        line-height: 14px;
        color: $gray-1;

        @media(max-width: 992px) {
            display: block;
        }
    }

    &__remove {
        position: relative;
        display: block;
        width: 25px;
        height: 25px;
        cursor: pointer;

        @media(max-width: 992px) {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        @media(max-width: 375px) {
            top: 0;
            right: 0;
        }

        &:after,
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 18px;
            height: 2px;
            background-color: $gray-2;
            transition: .2s;
        }

        &:after {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &:before {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:hover {
            &:after,
            &:before {
                background-color: $dark;
            }
        }
    }
}
