.cart-amount {
    hr {
        margin-top: 0;
        margin-bottom: 0;
        border-top: 2px solid $dark;
    }

    &__inner {
        padding: 40px 30px;
        border: 2px solid $dark;
    }

    &__title {
        margin-bottom: 30px;

        @media(max-width: 992px) {
            font-size: 20px;
            line-height: 24px;
        }
    }

    &__total {
        margin-top: 20px;
        margin-bottom: 30px;

        @media(max-width: 992px) {
            font-size: 20px;
            line-height: 24px;
        }
    }

    &__submit {
        .et-btn__text {
            font-size: 13px;
            line-height: 18px;
        }
    }
}
