.cart-empty {
    &__left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media(max-width: 768px) {
            align-items: center;
        }
    }

    &__right {
        display: flex;
    }

    &__title {
        margin-top: auto;
        margin-bottom: auto;

        @media(max-width: 768px) {
            margin-bottom: 30px;
        }
    }

    &__button {
        margin-top: auto;
        margin-bottom: 0;
        padding-left: 65px;
        padding-right: 65px;

        @media(max-width: 768px) {
            max-width: 400px;
        }
    }

    &__image {
        margin-left: auto;
        margin-right: auto;

        @media(min-width: 769px) {
            position: relative;
            bottom: 20%;
        }

        @media(max-width: 992px) {
            max-width: 200px;
        }

        @media(max-width: 768px) {
            margin-bottom: 30px;
        }
    }
}
