.my-vignettes {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media(max-width: 992px) {
            flex-wrap: wrap;
        }
    }

    &__tabs {
        flex-shrink: 0;
        margin-right: 20px;

        @media(max-width: 992px) {
            margin-right: 0;
            margin-bottom: 30px;
        }
    }

    &--loading {
        .my-vignettes__search,
        .my-vignettes-list__items,
        .my-vignettes__pagination {
            opacity: .5;
            pointer-events: none;
        }
    }
}
