.my-vignettes-list {
    &__header {
        display: flex;
        min-height: 40px;
        margin-bottom: 10px;
        background-color: $dark;
        color: $white;
        font-size: 12px;
        line-height: 16px;

        @media(max-width: 992px) {
            display: none;
        }
    }

    &__items {
        transition: .2s;
    }

    &__item {
        position: relative;
        display: flex;
        min-height: 68px;
        margin-bottom: 10px;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        background-color: $gray-5;

        @media(max-width: 1199px) {
            font-size: 13px;
            line-height: 18px;
        }

        @media(max-width: 992px) {
            flex-wrap: wrap;
            padding: 5px;
        }
    }

    &__column {
        display: flex;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        flex-shrink: 0;

        @media(max-width: 992px) {
            display: block;
            width: 31% !important;
            padding: 10px 5px;
        }

        &--type {
            justify-content: center;
            width: 14%;

            @media(max-width: 992px) {
                order: 1;
            }
        }

        &--name {
            width: 32%;

            @media(max-width: 992px) {
                order: 3;
            }
        }

        &--sign {
            width: 14%;

            @media(max-width: 992px) {
                order: 2;
            }
        }

        &--start {
            width: 15%;

            @media(max-width: 992px) {
                order: 4;
            }
        }

        &--end {
            width: 15%;

            @media(max-width: 992px) {
                order: 4;
            }
        }

        &--price {
            width: 10%;

            @media(max-width: 992px) {
                order: 4;
            }
        }

        &--status {
            width: 10%;
            @media(max-width: 992px) {
                order: 4;
            }
        }
    }

    &__label {
        display: none;
        font-weight: 400;
        font-size: 11px;
        line-height: 14px;
        color: $gray-1;

        @media(max-width: 992px) {
            display: block;
        }
    }

    &__status {
        display: flex;
        align-items: center;
        margin: auto;
        white-space: nowrap;

        img {
            margin-left: 5px;
        }

        &--active {
            color: $green;
        }

        &--not_active {
            color: $orange;
        }

        &--reminder {
            color: $orange2;
        }
    }
}
