.profile-search {
    position: relative;
    flex-basis: 270px;
    flex-shrink: 1;

    @media(max-width: 992px) {
        flex-basis: 100%;
        margin-bottom: 30px;
    }

    &__button {
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 25px;
        background-color: $white;
    }
}
