.profile-signs {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 2px solid $dark;

        @media(max-width: 992px) {
            flex-direction: column-reverse;
            align-items: stretch;
            margin-bottom: 30px;
            padding-bottom: 0;
        }
    }

    &__add-sign {
        max-height: 40px;

        @media(max-width: 992px) {
            width: 100%;
            margin-bottom: 30px;
        }

        .et-btn__text {
            font-size: 13px;
            line-height: 16px;
        }
    }

    &__item {
        padding-bottom: 20px;
    }

    &__item-inner {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        min-height: 68px;
        padding: 22px 40px 22px 30px;
        background-color: $gray-5;
        text-transform: uppercase;
        word-break: break-all;
    }

    &__remove {
        @include close-icon;

        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
    }

    &--loading {
        .profile-signs__items,
        .profile-signs__pagination {
            opacity: .5;
            pointer-events: none;
        }
    }
}
