.profile-form {
    padding-left: 70px;

    @media(max-width: 992px) {
        padding-left: 0;
    }

    &__field {
        margin-bottom: 20px;
    }

    &__label {
        margin-bottom: 5px;
    }

    &__show-password {
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 10px 0;

        @media(max-width: 992px) {
            margin-top: 10px;
            margin-bottom: 30px;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &__passwords {
        margin-bottom: 40px;

        @media(max-width: 992px) {
            margin-bottom: 30px;
        }
    }

    &__info {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 18px;
        height: 18px;
        margin-left: 10px;
        border: 1px solid $gray-1;
        background-color: transparent;
        border-radius: 50%;
        cursor: help;
    }

    &__submit {
        @media(max-width: 768px) {
            width: 100%;
        }
    }
}
