.profile-sidebar {
    &__inner {
        hr {
            margin: 13px 0;
            border-top: 2px solid $dark;
        }
    }

    &__items {
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
    }

    &__item {
        &--active {
            font-weight: 700;
            background-color: $gray-5;
        }

        &--reminder .profile-sidebar__link:after {
            content: '';
            position: relative;
            top: -10px;
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $orange;
        }
    }

    &__link {
        display: block;
        padding: 9px 15px;
        font-size: 18px;
        line-height: 28px;
        color: $dark;

        @media(max-width: 992px) {
            padding-top: 11px;
            padding-bottom: 11px;
            font-size: 13px;
            line-height: 18px;
        }

        &:hover {
            color: $dark;
        }
    }

    &__logout {
        width: 100%;
        font-size: 18px;
        line-height: 28px;
        text-align: left;

        @media(max-width: 992px) {
            font-size: 13px;
            line-height: 18px;
        }

        img {
            margin-left: 8px;
        }
    }
}
