.profile-notifications {
    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        @media(max-width: 575px) {
            display: block;
        }

        &-btn {
            display: block;
            margin-right: 30px;
            padding: 0;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: $gray-1;
            text-decoration: underline;

            @media(max-width: 768px) {
                font-size: 13px;
            }

            @media(max-width: 575px) {
                margin-bottom: 5px;
            }

            &:last-child {
                margin-right: 0;
            }

            &--active {
                color: $dark;
                text-decoration: none;
            }

            &--check-all {
                margin-left: auto;
                margin-right: 0;

                @media(max-width: 575px) {
                    margin-left: 0;
                }
            }
        }
    }

    &__items {
        margin-bottom: 30px;

        @media(max-width: 768px) {
            margin-bottom: 0;
        }
    }

    &__title {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &--loading {
        .profile-notifications__header,
        .profile-notifications__items,
        .profile-notifications__pagination {
            opacity: .5;
            pointer-events: none;
        }
    }
}
