<template>
    <input
        :id="id"
        v-model="innerValue"
        :class="classes"
        :placeholder="placeholder"
        type="tel"
        maxlength="13"
    />
</template>
<script>
    export default {
        data() {
            return {
                innerValue: '',

                /**
                 * Available letters, other will be removed
                 */
                availableLetters: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '0', '+']
            }
        },

        props: {
            value: {
                type: String,
                default: '',
            },

            id: {
                type: String,
                default: '',
            },

            classes: {
                type: String,
                default: '',
            },

            placeholder: {
                type: String,
                default: '',
            },
        },


        watch: {
            /**
             * Synchronizes props with the local value
             * @param newValue
             */
            value(newValue) {
                if(this.innerValue !== newValue) {
                    this.innerValue = newValue;
                }
            },

            /**
             * Triggers the input event with a filtered value
             * @param newValue
             * @param oldValue
             */
            innerValue(newValue, oldValue) {
                const value = newValue ? this.clear(newValue) : '';

                if(value !== oldValue) {
                    this.$emit('input', value);
                }

                this.innerValue = value;
            },
        },

        methods: {
            /**
             * Clears a word from forbidden characters
             * @param word
             * @returns {*}
             */
            clear(word){
                return word.split('').filter(char => this.availableLetters.includes(char)).join('');
            },
        },
    }
</script>
