<template>
    <form class="contact-form">
        <div class="row" v-show="!successMessage">
            <div class="col-12">
                <h2 class="contact-form__title">{{ trans(title) }}</h2>
            </div>

            <div class="col-sm-6">
                <div class="contact-form__field">
                    <label for="name" class="contact-form__label">
                        {{ trans(labelName) }} *
                    </label>

                    <input
                        v-model="full_name"
                        id="name"
                        type="text"
                        class="contact-form__input"
                        :placeholder="trans(labelName)"
                    />

                    <p
                        v-if="errors && 'full_name' in errors"
                        v-for="error in errors.full_name"
                        class="error"
                    >
                        {{ error }}
                    </p>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="contact-form__field">
                    <label for="email" class="contact-form__label">
                        {{ trans(labelEmail) }} *
                    </label>

                    <input
                        v-model="email"
                        id="email"
                        type="email"
                        class="contact-form__input"
                        :placeholder="trans(labelEmail)"
                    />

                    <p
                        v-if="errors && 'email' in errors"
                        v-for="error in errors.email"
                        class="error"
                    >
                        {{ error }}
                    </p>
                </div>
            </div>

            <div class="col-12">
                <div class="contact-form__field">
                    <label for="message" class="contact-form__label">
                        {{ trans(labelMessage) }} *
                    </label>

                    <textarea
                        v-model="message"
                        id="message"
                        class="contact-form__textarea"
                        :placeholder="trans(labelMessage)"
                        maxlength="500"
                    ></textarea>

                    <p
                        v-if="errors && 'message' in errors"
                        v-for="error in errors.message"
                        class="error"
                    >
                        {{ error }}
                    </p>
                </div>
            </div>

            <div class="col-12">
                <vue-recaptcha :sitekey="recaptchaKey" size="invisible" ref="recaptcha" @verify="submit"></vue-recaptcha>

                <p v-if="errors && 'g-recaptcha-response' in errors" class="error">
                    {{ errors['g-recaptcha-response'][0] }}
                </p>

                <button
                    :disabled="!validateForm"
                    @click.prevent="recaptchaValidate"
                    class="et-btn et-btn--dark contact-form__submit"
                >
                    {{ trans(labelButton) }}
                </button>
            </div>
        </div>

        <div
            v-show="successMessage"
            v-html="successMessage"
            class="contact-form__success"
        ></div>
    </form>

</template>
<script>
    import { VueRecaptcha } from 'vue-recaptcha';

    export default {
        components: { VueRecaptcha },

        data() {
            return {
                full_name: '',
                email: '',
                message: '',
                errors: {},
                successMessage: '',
                sending: false,
            }
        },

        computed: {
            validateForm() {
                return (
                    this.full_name.length
                    && this.email.length
                    && this.message.length
                    && !this.sending
                );
            },

            recaptchaKey() {
                return process.env.MIX_INVISIBLE_RECAPTCHA_SITEKEY;
            }
        },

        props: {
            title: {
                type: String,
                default: 'contactform.title'
            },

            labelName: {
                type: String,
                default: 'contactform.fields.name'
            },

            labelEmail: {
                type: String,
                default: 'contactform.fields.email'
            },

            labelMessage: {
                type: String,
                default: 'contactform.fields.message'
            },

            labelButton: {
                type: String,
                default: 'contactform.fields.button'
            },

            subject: {
                type: String,
                default: 'Контакти',
            },

            url: {
                type: String,
                default: '/ua/contact',
            },
        },

        methods: {
            /**
             * Validates recaptcha
             */
            recaptchaValidate() {
                this.$refs.recaptcha.execute();
            },

            /**
             * Sends the form
             * @param recaptchaResponse
             */
            submit(recaptchaResponse) {
                const data = {
                    full_name: this.full_name,
                    email: this.email,
                    message: this.message,
                    subject: this.subject,
                    'g-recaptcha-response': recaptchaResponse,
                };

                this.sending = true;

                axios.post(this.url, data)
                    .then((response) => {
                        if('successMessage' in response.data) {
                            this.successMessage = response.data.successMessage;
                        }
                        this.$refs.recaptcha.reset();
                    })
                    .catch((error) => {
                        console.log('err', error.message);
                        this.errors = error.response.data.errors ;
                        this.$refs.recaptcha.reset();
                        this.sending = false;
                    });
            }
        },
    }
</script>
