
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'resources/assets/sass/admin/variables';

// Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';

@import 'node_modules/vue2-datepicker/index';

@import 'resources/assets/sass/admin/test-example';

@import './partials/cart-create-item';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.user-histories-table a:hover {
    text-decoration: underline;
}

.faq-items {
    &__save-sorting {
        position: fixed;
        right: 50px;
        bottom: 50px;

        &--disabled {
            display: none;
        }
    }

    .ui-sortable {
        position: relative;

        tr {
            cursor: move;
        }
    }

    .ui-sortable-helper {
        background-color: $body-bg;
        border: 2px dashed #afafaf;
    }
}

.form-group .mx-datepicker {
    width: 100%;
}

.form-group .error {
    font-size: 12px;
    color: $red;
}
