.cart {
    &__header {
        font-weight: bold;
        color: var(--grey);

        .row {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    &__body {
        .row {
            margin-bottom: 10px;
            border-top: 1px solid #dedede;
            border-bottom: 1px solid #dedede;
        }
    }

    .row {
        flex-wrap: nowrap;
    }

    .col {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        flex-basis: 100%;
        margin-bottom: 0;

        p {
            margin-bottom: 0;
        }

    }

    &__col {
        &--thumbnail,
        &--term {
            min-width: 200px;
        }
    }
}

.cart-amount {
    padding: 25px;
    background-color: #dedede;
}

.map {
    padding-top: 56.25%;
}

.map-roads-list {
    padding-left: 0;
}
.map-roads-list-item {
    display: flex;
    &__col {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        &--number {

        }
        &--title {

        }
        &--distance {

        }
        &--actions {

        }
    }
    &__action {
        &--visible {
            .fa-eye {
                display: none;
            }
            .fa-eye-slash {
                display: block;
            }
            &.active {
                .fa-eye {
                    display: block;
                }
                .fa-eye-slash {
                    display: none;
                }
            }
        }
    }
}
