.page-home-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 688px;
    padding-top: 25px;
    background: linear-gradient(100.48deg, #E7FA94 0%, #67B2FE 100%);

    @media(max-width: 992px) {
        min-height: 620px;
        padding-top: 0;
    }

    &__title {
        max-width: 885px;
        margin: 0 auto 30px;
        letter-spacing: -1px;

        @media(max-width: 992px) {
            max-width: 285px;
        }
    }

    &__description {
        margin: 0 auto 55px;
        font-size: 18px;
        line-height: 28px;

        @media(max-width: 992px) {
            max-width: 225px;
            font-size: 13px;
            line-height: 18px;
        }
    }

    &__btn {
        display: inline-block;

        @media(min-width: 993px) {
            padding-left: 60px;
            padding-right: 60px;
        }
    }
}
