.home-products {
    padding-top: 100px;
    padding-bottom: 100px;

    @media(max-width: 992px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.home-product {
    display: flex;
    max-width: 380px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    @media(max-width: 768px) {
        height: auto;
        margin-bottom: 30px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 40px;
        background-color: $white;

        @media (max-width: 992px) and (min-width: 768px) {
            padding: 10px;
        }

        @media(max-width: 768px) {
            display: block;
        }
    }

    &__header {
        position: relative;
        margin-bottom: 35px;
        padding: 6px;
        text-align: center;
        background-color: $gray-4;
    }

    &__body {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 35px;
    }

    &__title {
        margin-right: 5px;

        @media(max-width: 1199px) {
            font-size: 18px;
            line-height: 24px;
        }
    }

    &__price {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 73px;
        height: 28px;
        padding: 5px 13px;
        background: rgba(0, 126, 255, 0.3);
        border-radius: 50px;
    }

    &__actions {
        margin-top: auto;
        margin-bottom: 0;
    }
}

.home-product-icon {
    position: absolute;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
    display: block;
    width: 131px;
    height: 66px;
    padding: 3px;
    border: 1px solid $gray-1;
    border-radius: 8px;

    @media (max-width: 992px) and (min-width: 768px) {
        width: 57%;
        height: 37%;
        max-width: 132px;
        font-size: 16px;
    }

    @media(max-width: 340px) {
        bottom: 10%;
        width: 122px;
        height: 60px;
    }

    @media(max-width: 322px) {
        bottom: 9%;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        height: 100%;
        padding: 8px 10px;
        background-color: $yellow;
        border-radius: 4px;
    }

    &__left {
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 22px;
        line-height: 97.92%;
        color: $dark;

        @media (max-width: 992px) and (min-width: 768px) {
            font-size: 16px;
        }
    }

    &__right {
        display: flex;
        align-items: center;

        img {
            display: block;
            width: auto;
            height: 42px;

            @media (max-width: 992px) and (min-width: 768px) {
                height: 30px;
            }
        }
    }
}
