<script>
    /**
     * Default values of map
     * @type {number}
     */
    const DEFAULT_LAT = 49.1737807;
    const DEFAULT_LNG = 32.2068911;
    const DEFAULT_ZOOM = 6;
    const STROKE_COLOR = '#007EFF';
    const STROKE_WEIGHT = 5;

    /**
     * Styles for selected PolyLine
     * @type {string}
     */
    const OPACITY_STROKE_COLOR = 'rgba(0,126,255,0.6)';
    const ACTIVE_STROKE_WEIGHT = 6;

    export default {
        template: '#templateMapOfRoads',
        delimiters: ['{#', '#}'],

        data() {
            return {
                map: null,
                activePolyLine: null,
                visibilityRoads: true,
                polyLines: [],
                infoWindow: null,
            }
        },

        computed: {
            roads() {
                return this.$store.getters["roads/getRoads"];
            },

            everythingIsShown() {
                return this.roads.length === this.roads.reduce((value, road) => road.visible ? ++value : value, 0);
            },

            everythingIsHidden() {
                return 0 === this.roads.reduce((value, road) => road.visible ? ++value : value, 0);
            },
        },

        watch: {
            /**
             * Creates routes on the map
             * @param roads
             */
            roads(roads) {
                if (this.polyLines.length) {
                    this.polyLines.forEach(polyLine => polyLine.setMap(null));
                    this.polyLines = [];
                }

                roads.forEach(road => this.polyLines.push(this.makePolyline(road)));
            }
        },

        methods: {
            /**
             * Toggles the visibility of the road
             * @param road
             * @param visible
             */
            toggleVisible(road, visible = null) {
                if (visible === null) {
                    visible = !road.visible;
                }

                this.polyLines[road.index].setVisible(visible);
                road.visible = visible;

                if (road.index === this.activePolyLine) {
                    if(!road.visible) {
                        this.hideInfoWindow();
                    } else {
                        this.infoWindow.open({map: this.map});
                    }
                }
            },

            /**
             * Toggles the visibility of the road
             * @param value
             */
            setVisibilityRoads(value) {
                this.visibilityRoads = !!value;
                this.roads.forEach(road => this.toggleVisible(road, this.visibilityRoads));
            },

            /**
             * Sets styles for the selected road
             * @param road
             * @param e
             */
            setActiveRoad(road, e = null) {
                if(this.activePolyLine !== null) {
                    this.polyLines[road.index].setOptions({
                        strokeColor: STROKE_COLOR,
                        strokeWeight: STROKE_WEIGHT,
                    });
                    this.hideInfoWindow();
                }

                if(this.activePolyLine !== road.index) {
                    this.activePolyLine = road.index;
                    this.polyLines.forEach((line, index) => {
                        if(this.activePolyLine !== index) {
                            line.setOptions({
                                strokeColor: OPACITY_STROKE_COLOR,
                                strokeWeight: ACTIVE_STROKE_WEIGHT,
                            });
                        }
                    });

                    this.toggleVisible(road, road.visible);
                }

                if (road.visible) {
                    this.displayInfoWindow(road, (e ? e.latLng : null));
                }
            },

            /**
             * Displays Info Window on the Map
             * @param road
             * @param position
             */
            displayInfoWindow(road, position = null) {
                const content = this.makeInfoWindowContent(road);
                if (!position) {
                    position = road.coordinates[0];
                }
                this.infoWindow.setPosition(position);
                this.infoWindow.setContent(content);
                if(road.visible) {
                    this.infoWindow.open({map: this.map});
                }
            },

            /**
             * Closes Info Window
             */
            hideInfoWindow() {
                this.infoWindow.close();
            },

            /**
             * Create content for Info Window
             * @param road
             * @returns {string}
             */
            makeInfoWindowContent(road) {
                return `
                    <div class="et-info-window">
                        <div class="road-number et-info-window__number">
                            <p class="road-number__inner">
                                 ${road.number}
                            </p>
                        </div>

                        <div class="et-info-window__text">
                            <p class="et-info-window__title">${road.title}</p>
                            <p class="et-info-window__distance">
                                ${road.distance} ${this.trans('pagemap.infoWindowKm')}
                            </p>
                        </div>
                    </div>
                `;
            },

            /**
             * Create a road route and add handlers
             * @param coordinates
             * @returns {*}
             */
            makePolyline(road) {
                // https://developers.google.com/maps/documentation/javascript/examples/polyline-simple
                const params = {
                    path: road.coordinates,
                    geodesic: true,
                    strokeColor: STROKE_COLOR,
                    strokeOpacity: 1.0,
                    strokeWeight:  STROKE_WEIGHT,
                };

                const line = new google.maps.Polyline(params);

                line.addListener('click', e => this.setActiveRoad(road, e));
                line.setMap(this.map);

                return line;
            },

            /**
             * Google maps init.
             */
            mapInit() {
                // https://developers.google.com/maps/documentation/javascript/reference/map
                this.map = new google.maps.Map(
                    document.getElementById("map"),
                    {
                        zoom: DEFAULT_ZOOM,
                        center: {lat: DEFAULT_LAT, lng: DEFAULT_LNG},
                        mapTypeControl: false,
                        streetViewControl: false,
                        keyboardShortcuts: false,
                        scrollwheel: false,
                    }
                );

                this.map.addListener('click', this.hideInfoWindow)

                const legend = this.$refs.mapLegend;
                this.map.getDiv().append(legend);
                legend.style.display = 'block';

                this.infoWindow = new google.maps.InfoWindow();
            },
        },

        mounted() {
            this.$store.dispatch('roads/loadRoads');

            window.addEventListener('initMapOfRoad', this.mapInit)
        }
    }
</script>
