<template>
    <div
        class="vignette-notification"
        :class="{
            'vignette-notification--new': isNew,
            'vignette-notification--soon': this.data.term !== 0,
            'vignette-notification--now': data.term === 0,
        }"
    >
        <div class="vignette-notification__inner">
            <div class="vignette-notification__data">
                <div class="vignette-notification__header">
                    <p class="vignette-notification__col vignette-notification__col--id">
                        {{ trans('profile.notifications.vignette_notification.number') }} {{ data.id }}
                    </p>

                    <p class="vignette-notification__col vignette-notification__col--sign">
                        {{ data.sign }}
                    </p>

                    <p class="vignette-notification__col vignette-notification__col--finish">
                        {{ trans('profile.notifications.vignette_notification.valid_until') }}&nbsp;<span>{{ finishedDate }}</span>
                    </p>
                </div>

                <p class="vignette-notification__body">
                    <span
                        v-if="isNew"
                        @click="markAsRead"
                        class="vignette-notification__read"
                    ></span>

                    {{ text }}
                </p>
            </div>

            <div class="vignette-notification__actions">
                <buy-vignette-btn
                    classes="et-btn et-btn--light et-btn--small vignette-notification__buy"
                    :button-text="trans('profile.notifications.vignette_notification.buy')"
                    :vignette-id="data.product_id.toString()"
                    :sign="data.sign"
                    :country="data.country"
                />
            </div>
        </div>
    </div>
</template>
<script>
import BuyVignetteBtn from '@front-resources-js/components/buy-vignette-btn/BuyVignetteBtn.vue'

export default {
    components: {
        BuyVignetteBtn,
    },

    props: {
        notification: {
            type: Object,
            require: true,
        }
    },

    computed: {
        /**
         * Returns data for display the notification
         * @returns {*|null}
         */
        data() {
            return 'data' in this.notification ? this.notification.data : null;
        },

        /**
         * Checks if the notification is marked as read
         * @returns {boolean}
         */
        isNew() {
            return 'read_at' in this.notification && this.notification.read_at === null;
        },

        /**
         * Returns finished date of the vignette
         * @returns {string}
         */
        finishedDate() {
            return moment.parseZone(this.data.finished_at).local(true).format('DD.MM.YYYY');
        },

        /**
         * Returns text of the vignette
         * @returns {*|string}
         */
        text() {
            let term = Math.abs(this.data.term);

            if (term === 0) {
                return this.trans('profile.notifications.vignette_notification.text_0_days');
            }

            let text = `${this.trans(
                'profile.notifications.vignette_notification.text_before_days',
                {'term': term}
            )} `;

            term %= 100;

            if (term >= 5 && term <= 20) {
                text += this.trans('profile.notifications.vignette_notification.5_days');
            }

            term %= 10;

            if (term >= 2 && term <= 4) {
                text += this.trans('profile.notifications.vignette_notification.2_days');
            } else if (term === 1) {
                text += this.trans('profile.notifications.vignette_notification.1_days');
            }

            return text;
        },
    },

    methods: {
        /**
         * Marks the notification as read
         */
        markAsRead() {
            this.$emit('mark-as-read', this.notification.id);
        }
    },
}
</script>
