<template>
    <div
        ref="container"
        class="signs-field"
        :class="{'signs-field--open': listVisibility, 'signs-field--select': userSigns && userSigns.length }"
    >
        <div class="signs-field__inner">
            <input
                :id='id'
                class="signs-field__field"
                :class='classes'
                :placeholder='placeholder'
                type='text'
                v-model="innerValue"
                @focusin="openList"
                @input="openList"
                autocomplete="off"
                maxlength="12"
            />
        </div>

        <div
            v-show="filteredUserSigns && filteredUserSigns.length"
            class="signs-field-list"
            :class="{'signs-field-list--open': listVisibility}"
        >
            <div class="signs-field-list__inner">
                <div
                    v-for="item in filteredUserSigns"
                    class="signs-field-list__item"
                    @click="setSign(item.sign)"
                >
                    {{ item.sign }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                listVisibility: false,
                searchValue: '',
                innerValue: '',

                /**
                 * These letter will be changed
                 */
                replacesLetters: {
                    'Й':'I',
                    'У':'Y',
                    'К':'K',
                    'Е':'E',
                    'Н':'H',
                    'Г':'G',
                    'З':'Z',
                    'Х':'X',
                    'Ф':'F',
                    'Ы':'I',
                    'В':'B',
                    'А':'A',
                    'П':'P',
                    'Р':'P',
                    'О':'O',
                    'Л':'L',
                    'Д':'D',
                    'Э':'E',
                    'С':'C',
                    'М':'M',
                    'И':'I',
                    'Т':'T',
                    'Б':'B',
                    'І':'I',
                },

                /**
                 * Available letters, other will be removed
                 */
                availableLetters: [
                    'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N',
                    'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', '-',
                    '1', '2', '3', '4', '5', '6', '7', '8', '9', '0',
                ]
            }
        },

        computed: {
            /**
             * Returns the user signs from a storage
             * @returns {any}
             */
            userSigns() {
                return this.$store.getters['userSigns/getSigns'];
            },

            /**
             * Returns the user signs filtered by the search field
             * @returns {*}
             */
            filteredUserSigns() {
                let signs;
                if (this.userSigns && this.userSigns.length && this.innerValue) {
                    signs = this.userSigns.filter(item => {
                        return item.sign.toUpperCase().indexOf(this.innerValue.toUpperCase()) != -1
                    });
                } else {
                    signs = this.userSigns;
                }

                return signs;
            },
        },

        props: {
            value: String,
            id: String,
            placeholder: String,
            classes: String,
        },

        watch: {
            /**
             * Synchronizes props with the local value
             * @param newValue
             */
            value(newValue) {
                if(this.innerValue !== newValue) {
                    this.innerValue = newValue;
                }
            },

            /**
             * Triggers the input event with a filtered value
             * @param newValue
             * @param oldValue
             */
            innerValue(newValue, oldValue) {
                let value = newValue ? newValue : '';
                value = value.toUpperCase();
                value = this.transliterate(value);
                value = this.clear(value);

                if(value !== oldValue) {
                    this.$emit('input', value);
                }

                this.innerValue = value;
            },
        },

        methods: {
            /**
             * Opens the list of signs
             */
            openList() {
                this.listVisibility = true;
            },

            /**
             * Closes the list of signs
             * @param e
             */
            closeList(e) {
                if (this.$refs.container !== e.target.closest('.signs-field')) {
                    this.listVisibility = false;
                }
            },

            /**
             * Sets value from the list
             * @param sign
             */
            setSign(sign) {
                this.innerValue = sign;
                this.listVisibility = false;
            },

            /**
             * Replaces Cyrillic with Latin letters
             * @param word
             * @returns {*}
             */
            transliterate(word){
                return word.split('').map(char => this.replacesLetters[char] || char).join('');
            },

            /**
             * Clears a word from forbidden characters
             * @param word
             * @returns {*}
             */
            clear(word){
                return word.split('').filter(char => this.availableLetters.includes(char)).join('');
            },
        },

        mounted() {
            /**
             * Adds handler closening the list of signs
             */
            window.addEventListener('click', this.closeList);

            this.innerValue = this.value;
        },

        beforeDestroy() {
            /**
             * Removes handler closening the list of signs
             */
            window.removeEventListener('click', this.closeList);
        }
    }
</script>
