<template>
    <div class="test-sign" :class="{'test-sign--loading': loading}">
        <form class="test-sign-form" v-if="!showResult">

            <div class="test-sign-form__field">
                <label for="countryTestSignForm" class="test-sign-form__label">
                    {{ trans('testsignform.country_label') }}
                </label>

                <et-countries
                    id="countryTestSignForm"
                    v-model="country"
                />

                <p
                    v-if="errors && 'country' in errors"
                    v-for="error in errors.country"
                    class="error"
                >
                    {{ error }}
                </p>
            </div>

            <div class="test-sign-form__field">
                <label for="sign" class="test-sign-form__label">
                    {{ trans('testsignform.sign_label') }}
                </label>

                <sign-field
                    id="sign"
                    v-model="sign"
                    placeholder="AA111-22AA"
                />

                <p
                    v-if="errors && 'sign' in errors"
                    v-for="error in errors.sign"
                    class="error"
                >
                    {{ error }}
                </p>
            </div>

            <button
                @click.prevent="submit"
                :disabled="!validateForm || loading"
                class="et-btn et-btn--dark test-sign-form__submit"
            >
                <span class="et-btn__text">{{ trans('testsignform.button_text') }}</span>
            </button>
        </form>

        <div class="test-sign-result" v-if="showResult">
            <h5 class="test-sign-result__header">
                {{ country }} - {{ sign }}

                <span class="test-sign-result__label">
                    {{ trans(vignette ? 'testsignform.valid' : 'testsignform.no_valid') }}
                </span>
            </h5>

            <div class="test-sign-result__main">
                <p class="test-sign-result__text">
                    {{ mainText }}
                </p>

                <button @click="reset" class="et-btn et-btn--light test-sign-result__back">
                    <span class="et-btn__text">{{ trans('testsignform.back_button') }}</span>
                </button>

                <button @click="buy" class="et-btn et-btn--dark test-sign-result__buy">
                    <span class="et-btn__text">{{ trans('testsignform.buy_button') }}</span>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import { DATE_FORMAT } from './../../Models/MyVignete';
import { Vignette } from '@front-resources-js/store/modules/choose-vignettes';

/**
 * Default Country
 * @type {string}
 */
const DEFAULT_COUNTRY = 'UA';

export default {
    data() {
        return {
            country: DEFAULT_COUNTRY,
            sign: '',
            loading: false,
            showResult: false,
            vignette: null,
            errors: {},
        }
    },

    computed: {
        /**
         * Returns the text about the checking result
         * @returns {string}
         */
        mainText() {
            let text = '';

            if (this.vignette) {
                text += `${this.trans('testsignform.vignette_number')} ${this.vignette.id}`;
                text += ` ${this.trans('testsignform.valid_from')}`;
                text += ` ${moment.parseZone(this.vignette.started_at).local(true).format(DATE_FORMAT)}`;
                text += ` ${this.trans('testsignform.valid_to')}`;
                text += ` ${moment.parseZone(this.vignette.finished_at).local(true).format(DATE_FORMAT)}`;
            } else {
                text = this.trans('testsignform.no_vignette_text');
            }

            return text;
        },

        /**
         * Validates the form
         * @returns {0|number}
         */
        validateForm() {
            return this.country.length && this.sign.length;
        },
    },

    methods: {
        /**
         * Reset the form
         */
        reset() {
            this.sign = '';
            this.country = DEFAULT_COUNTRY;
            this.vignette = null;
            this.showResult = false;
        },

        /**
         * Redirect to the choose vignettes form with selected data
         */
        buy() {
            const vignettes = [new Vignette({ sign: this.sign, country: this.country })];
            this.$store.commit('chooseVignettes/setVignettes', { vignettes });
            this.$store.dispatch('chooseVignettes/saveState');

            location.href = `/${this.appLocale}/vignettes`;
        },

        /**
         * Submit the form
         */
        async submit() {
            const params = { country: this.country, sign: this.sign };
            this.loading = true;
            this.errors = {};

            await axios.get('/vignettes/check', { params })
                .then((response) => {
                    if (response.status === 200) {
                        this.vignette = response.data;
                        this.showResult = true;
                    }
                })
                .catch((error) => {
                    if (error.response.status === 404) {
                        this.vignette = null;
                        this.showResult = true;
                    }

                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    }
                });

            this.loading = false;
        }
    },

    mounted() {
        this.$store.dispatch('userSigns/loadSigns')
    }
}
</script>
