body{
    position:relative;
}
.noscript {
    width:100%;
    height:100%;
    z-index:100000;
    position:absolute;
}
.noscript #div-no-script{
    display:block;
    height:100%;
    background-color:white;
}