<template>
    <div
        class="et-modal modal-register"
        :class="{'et-modal--open' : show}"
    >
        <div class="et-modal__substrate" @click="close"></div>

        <div class="et-modal__window modal-register__window">
            <div class="et-modal__close" @click="close"></div>

            <div class="et-modal__inner" v-if="!sent">
                <h5 class="modal-register__title">{{ trans('modal_register.title') }}</h5>

                <div class="et-tabs">
                    <div class="et-tabs__header">
                        <h6
                            @click="setSelectedTab(TAB_PRIVATE)"
                            class="et-tabs__button"
                            :class="{ 'et-tabs__button--active': selectedTab === TAB_PRIVATE }"
                        >
                            {{ trans('modal_register.tab_private') }}
                        </h6>

                        <h6
                            @click="setSelectedTab(TAB_ORGANIZATION)"
                            class="et-tabs__button"
                            :class="{ 'et-tabs__button--active': selectedTab === TAB_ORGANIZATION }"
                        >
                            {{ trans('modal_register.tab_organization') }}
                        </h6>
                    </div>

                    <div class="et-tabs__body">
                        <div class="et-tabs__item" v-show="selectedTab === TAB_PRIVATE">
                            <RegisterPrivateForm @sent-successful="sentSuccessful"></RegisterPrivateForm>
                        </div>

                        <div class="et-tabs__item" v-show="selectedTab === TAB_ORGANIZATION">

                        </div>
                    </div>
                </div>
            </div>

            <div class="et-modal__inner" v-if="sent">
                <h3 class="text-center modal-register__success">
                    {{ trans('modal_register.success_message') }}
                </h3>
            </div>
        </div>
    </div>
</template>
<script>
import RegisterPrivateForm from './RegisterPrivateForm.vue';

const RELOAD_TIMEOUT = 5000;

export default {
    components: {
        RegisterPrivateForm
    },

    data() {
        return {
            TAB_PRIVATE: 'private',
            TAB_ORGANIZATION: 'business',
                sent: false,
            }
        },

        computed: {
            /**
             * Returns visibility status of this modal
             * @returns {any}
             */
            show() {
                return this.$store.getters['modals/getRegisterVisibility'];
            },

            /**
             * Returns the selected tab
             * @returns {any}
             */
            selectedTab() {
                return this.$store.getters['modals/getRegisterTab'];
            }
        },

        methods: {
            /**
             * Closes this modal
             */
            close () {
                this.$store.commit('modals/toggleRegistration');
                this.$store.commit('users/setRegisterErrors', {errors: {}});
            },

            /**
             * Reloads page when form sent successfully
             */
            sentSuccessful() {
                this.sent = true;
                window.setTimeout(() => location.reload(), RELOAD_TIMEOUT);
            },

            /**
             * Sets selected tab
             * @param tab
             */
            setSelectedTab(tab) {
                this.$store.commit('modals/setRegisterTab', { tab });
            }
        },
    }
</script>
