<template>
    <form>
            <div class="row">
                <div class="col-sm-6">
                    <div class="modal-register__field">
                        <label for="name" class="modal-register__label">
                            {{ trans('modal_register.name') }} *
                        </label>

                        <input
                            v-model="name"
                            id="name"
                            type="text"
                            class="modal-register__input"
                            :placeholder="trans('modal_register.name')"
                        />

                        <p
                            v-if="errors && 'name' in errors"
                            v-for="error in errors.name"
                            class="error"
                        >
                            {{ error }}
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="modal-register__field">
                        <label for="surname" class="modal-register__label">
                            {{ trans('modal_register.surname') }}
                        </label>

                        <input
                            v-model="surname"
                            id="surname"
                            type="text"
                            class="modal-register__input"
                            :placeholder="trans('modal_register.surname')"
                        />

                        <p
                            v-if="errors && 'surname' in errors"
                            v-for="error in errors.surname"
                            class="error"
                        >
                            {{ error }}
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="modal-register__field">
                        <label for="email" class="modal-register__label">
                            {{ trans('modal_register.email') }} *
                        </label>

                        <input
                            v-model="email"
                            id="email"
                            type="email"
                            class="modal-register__input"
                            :placeholder="trans('modal_register.email')"
                        />

                        <p
                            v-if="errors && 'email' in errors"
                            v-for="error in errors.email"
                            class="error"
                        >
                            {{ error }}
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="modal-register__field">
                        <label for="phoneRegister" class="modal-register__label">
                            {{ trans('modal_register.phone') }} *
                        </label>

                        <phone-field
                            :value="phone"
                            @input="(value) => phone = value"
                            :placeholder="trans('modal_register.phone')"
                            :class="'modal-register__input'"
                            :id="'phoneRegister'"
                        ></phone-field>

                        <p
                            v-if="errors && 'phone' in errors"
                            v-for="error in errors.phone"
                            class="error"
                        >
                            {{ error }}
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="modal-register__field">
                        <label for="country" class="modal-register__label">
                            {{ trans('modal_register.country') }} *
                        </label>

                        <et-countries
                            v-model="country"
                            id="country"
                        />

                        <p
                            v-if="errors && 'country' in errors"
                            v-for="error in errors.country"
                            class="error"
                        >
                            {{ error }}
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="modal-register__field">
                        <label for="city" class="modal-register__label">
                            {{ trans('modal_register.city') }}
                        </label>

                        <input
                            v-model="city"
                            id="city"
                            type="text"
                            class="modal-register__input"
                            :placeholder="trans('modal_register.city')"
                        />

                        <p
                            v-if="errors && 'city' in errors"
                            v-for="error in errors.city"
                            class="error"
                        >
                            {{ error }}
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="modal-register__field">
                        <label for="postcode" class="modal-register__label">
                            {{ trans('modal_register.postcode') }}
                        </label>

                        <input
                            v-model="postcode"
                            id="postcode"
                            type="text"
                            class="modal-register__input"
                            :placeholder="trans('modal_register.postcode')"
                        />

                        <p
                            v-if="errors && 'postcode' in errors"
                            v-for="error in errors.postcode"
                            class="error"
                        >
                            {{ error }}
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="modal-register__field">
                        <label for="address" class="modal-register__label">
                            {{ trans('modal_register.address') }}
                        </label>

                        <input
                            v-model="address"
                            id="address"
                            type="text"
                            class="modal-register__input"
                            :placeholder="trans('modal_register.address')"
                        />

                        <p
                            v-if="errors && 'address' in errors"
                            v-for="error in errors.address"
                            class="error"
                        >
                            {{ error }}
                        </p>
                    </div>
                </div>

                <div class="col-sm-6 mt-md-4">
                    <div class="modal-register__field">
                        <label for="password" class="modal-register__label">
                            {{ trans('modal_register.password') }} *
                        </label>

                        <input
                            v-model="password"
                            id="password"
                            type="password"
                            class="modal-register__input"
                            :placeholder="trans('modal_register.password')"
                        />

                        <p
                            v-if="errors && 'password' in errors"
                            v-for="error in errors.password"
                            class="error"
                        >
                            {{ error }}
                        </p>
                    </div>
                </div>

                <div class="col-sm-6 mt-md-4">
                    <div class="modal-register__field">
                        <label for="password_confirmation" class="modal-register__label">
                            {{ trans('modal_register.password_confirmation') }} *
                        </label>

                        <input
                            v-model="password_confirmation"
                            id="password_confirmation"
                            type="password"
                            class="modal-register__input"
                            :placeholder="trans('modal_register.password_confirmation')"
                        />

                        <p
                            v-if="errors && 'password_confirmation' in errors"
                            v-for="error in errors.password_confirmation"
                            class="error"
                        >
                            {{ error }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="modal-register__actions">
                <button
                    :disabled="!rules"
                    @click.prevent="submit"
                    class="et-btn et-btn--dark modal-register__submit"
                >
                    <span class="et-btn__text">{{ trans('modal_register.button') }}</span>
                </button>

                <label class="et-checkbox modal-register__rules">
                    <input v-model="rules" type="checkbox" value="1">

                    <span class="et-checkbox__checkmark"></span>

                    {{ trans('modal_register.rules_text') }}&nbsp;

                    <a href="/privacy-policy" target="_blank">
                        {{ trans('modal_register.rules_link') }}
                    </a>
                </label>
            </div>
        </form>
</template>
<script>
    export default {
        data() {
            return {
                name: '',
                surname: '',
                email: '',
                phone: '',
                country: '',
                city: '',
                postcode: '',
                address: '',
                password: '',
                password_confirmation: '',
                rules: false,
            }
        },

        computed: {
            errors() {
                return this.$store.getters['users/getRegisterErrors'];
            },

            show() {
                return this.$store.getters['modals/getRegisterVisibility'];
            }
        },

        methods: {
            async submit() {
                const user = {
                    name: this.name,
                    surname: this.surname,
                    email: this.email,
                    phone: this.phone,
                    country: this.country,
                    city: this.city,
                    postcode: this.postcode,
                    address: this.address,
                    password: this.password,
                    password_confirmation: this.password_confirmation,
                };

                const sent = await this.$store.dispatch('users/register', { user });


                if (sent) {
                    this.$emit('sent-successful');
                }
            },

            close () {
                this.$store.commit('modals/toggleRegistration');
            }
        },
    }
</script>
