@mixin close-icon {
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    cursor: pointer;

    &:after,
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 19px;
        height: 2px;
        background-color: $gray-2;
        transition: .2s;
    }

    &:after {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &:before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {
        &:after,
        &:before {
            background-color: $dark;
        }
    }
}
