.vignette-notification {
    &__inner {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid $gray-3;

        @media(max-width: 768px) {
            display: block;
        }
    }

    &__data {
        color: $gray-1;
        margin-right: 15px;

        @media(max-width: 768px) {
            margin-right: 0;
            margin-bottom: 15px;
        }
    }

    &__header {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 16px;
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
    }

    &__col {
        display: flex;
        align-items: center;
        min-width: 140px;
        margin-bottom: 0;
        padding: 0 20px;
        border-right: 1px solid $gray-3;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
            border-right: none;
        }

        &--finish {
            @media(max-width: 992px) {
                width: 100%;
                margin-top: 10px;
                padding-left: 0;
            }
        }
    }

    &__body {
        position: relative;
        margin-bottom: 0;
        font-weight: 300;

        @media(max-width: 768px) {
            font-size: 13px;
        }
    }

    &__read {
        position: absolute;
        top: 2px;
        left: 0;
        display: block;
        width: 20px;
        height: 20px;
        background-color: $orange;
        border-radius: 50%;
        cursor: pointer;
    }

    &__actions {
        display: flex;
        align-items: center;
    }

    &__buy {
        width: 100%;
        min-width: 165px;
        max-height: 40px;
        font-size: 13px;
        line-height: 18px
    }

    &--new {
        .vignette-notification__col--finish span {
            color: $dark;
        }

        .vignette-notification__body {
            padding-left: 30px;
        }

        &.vignette-notification--soon .vignette-notification__body {
            color: $orange2;
        }

        &.vignette-notification--now .vignette-notification__body {
            color: $orange;
        }
    }
}
