.cart-create-item {
    position: relative;
    padding: 25px;
    margin-bottom: 25px;
    background-color: #fdfdfd;
    border: 1px solid #ced4da;
    border-radius: 3px;

    &__remove {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        font-size: 16px;
    }
}
