.btn {
    box-shadow: none !important;
}

.et-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 38px;
    border-radius: 50px;
    text-decoration: none !important;
    transition: .2s;

    @media(max-width: 768px) {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    &:not(:disabled):hover {
        color: $dark;
        background-color: $yellow;
        border-color: $yellow;
    }

    &__text {
        font-size: 16px;
        line-height: 24px;

        @media(max-width: 992px) {
            font-size: 13px;
            line-height: 18px;
        }
    }

    &--dark {
        background-color: $dark;
        color: $white;
        border: 2px solid $dark;
    }

    &--light {
        background-color: $white;
        color: $dark;
        border: 2px solid $dark;
    }

    &--small {
        .et-btn__text {
            font-size: 13px;
            line-height: 18px;
        }
    }

    &:disabled {
        opacity: .5;
        cursor: not-allowed;
    }
}

button:disabled {
    opacity: .5;
    cursor: not-allowed;
}
