@font-face {
    font-family: e-Ukraine;
    src: url(/fonts/e-Ukraine-Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: e-Ukraine;
    src: url(/fonts/e-Ukraine-UltraLight.otf);
    font-weight: 300;
}
