label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 16px;
    color: $gray-1;
}

select,
textarea,
input[type="tel"],
input[type="text"],
input[type="email"],
input[type="password"] {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: $white;
    box-shadow: inset 1px 0 0 30px #ffffff !important;
    border: 1px solid $dark;
    border-radius: 0;
    font-size: 13px;
    line-height: 18px;
    color: $dark;
    transition: .2s;

    &:focus,
    &:active,
    &:hover {
        border-color: $yellow;
        outline: none;
    }

    &::placeholder {
        color: $gray-3 !important;
        opacity: 1;
    }

    &:disabled {
        border-color: $gray-2;
        background-color: $gray-4;
        color: $dark;
        box-shadow: none !important;
        opacity: 1;
    }
}

select {
    background-image: url('/images/select-arrow.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 14px) 50%;

    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    box-shadow: none !important;

    &::-ms-expand {
        display: none;
    }
}

.form .error,
form .error {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: $orange;
}

.et-checkbox {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;

    &__checkmark {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 24px;
        width: 24px;
        margin-right: 10px;
        border: 2px solid $dark;

        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }

    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        ~ .et-checkbox__checkmark {
            &:after {
                left: 7px;
                top: 1px;
                width: 7px;
                height: 15px;
                border: solid $dark;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }

        &:checked ~ .et-checkbox__checkmark {
            &:after {
                display: block;
            }
        }
    }
}

.v-select {
    position: relative;
    font-size: 13px;
    line-height: 18px;

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        display: block;
        width: 15px;
        height: 15px;
        background-image: url('/images/select-arrow.svg');
        background-repeat: no-repeat;
        background-position: center center;
    }

    &.vs--open {
        &:after {
            transform: translateY(-50%) rotate(180deg);
        }

        .vs__selected {
            color: $gray-3;
            opacity: 1;
        }
    }


    .vs__selected-options,
    .vs__search,
    .vs__selected,
    .vs__actions,
    .vs__dropdown-toggle {
        margin: 0;
        padding: 0;
        border: 0;
    }

    .vs__selected-options {
        display: flex;
        align-items: center;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    .vs__dropdown-toggle {
        height: 44px;
        padding: 12px 25px 12px 12px;
        background-color: $white;
        border: 1px solid $dark;
        border-radius: 0;
        transition: .2s;

        &:hover {
            border-color: $yellow;
        }
    }

    .vs__dropdown-menu {
        overflow-x: hidden;

        .vs__dropdown-option {
            position: relative;
            display: flex;
            align-items: center;
            min-height: 45px;
            padding: 5px 15px;
            white-space: initial;

            &:after {
                content: '';
                position: absolute;
                left: 17px;
                right: 17px;
                bottom: 0;
                height: 1px;
                background-color: $gray-3;
            }

            &--highlight,
            &:hover {
                background-color: $yellow;
                color: $dark;
            }
        }
    }

    .vs__clear,
    .vs__open-indicator {
        display: none;
    }
}

.mx-datepicker-popup {
    color: $dark;

    .mx-btn-icon-double-right,
    .mx-btn-icon-double-left,
    .mx-btn-current-year {
        display: none;
    }

    .mx-btn-icon-left,
    .mx-btn-icon-right {
        color: $dark;
    }

    .mx-btn-current-month {
        text-transform: capitalize;
        font-weight: 600;
        color: $dark;
    }

    .cell {
        &:not(.disabled):hover {
            color: $dark;
            background-color: $yellow;
        }

        &.active {
            color: $dark;
            font-weight: 600;
            background-color: $yellow;
        }
    }
}
