html {
    scroll-behavior: smooth;
}

body {
    min-width: 320px;

    &.et--menu-opened {
        overflow: hidden;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    max-width: 1230px;
}

.et-bg {
    &--gray-5 {
        background-color: $gray-5;
    }
}
