.tippy-tooltip.dark-theme {
    padding: 10px;
    border-radius: 0;
    font-size: 12px;
    line-height: 16px;
    color: $gray-1;

    .tippy-backdrop {
        background-color: $white;
    }
}

.tippy-tooltip.profile-theme {
    padding: 5px;
    border-radius: 0;
    font-size: 10px;
    font-weight: 300;
    text-align: left;
    color: $dark;

    .tippy-backdrop {
        background-color: $gray-4;
    }
}
