body {
    font-family: e-Ukraine, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $dark;
}

h1 {
    font-size: 56px;
    line-height: 64px;

    @media(max-width: 992px) {
        font-size: 26px;
        line-height: 28px;
        letter-spacing: -0.02em;
    }
}

h2 {
    font-size: 38px;
    line-height: 40px;

    @media(max-width: 992px) {
        font-size: 20px;
        line-height: 24px;
    }
}

h3 {
    font-size: 28px;
    line-height: 32px;

    @media(max-width: 992px) {
        font-size: 18px;
        line-height: 24px;
    }
}

h4 {
    font-size: 24px;
    line-height: 32px;

    @media(max-width: 992px) {
        font-size: 16px;
        line-height: 20px;
    }
}

h5 {
    font-size: 20px;
    line-height: 24px;

    @media(max-width: 992px) {
        font-size: 14px;
        line-height: 20px;
    }
}

h6 {
    font-size: 18px;
    line-height: 28px;

    @media(max-width: 992px) {
        font-size: 13px;
        line-height: 18px;
    }
}

a {
    color: $gray-1;
}
