// Colors
$white: #ffffff;
$blue: #007EFF;
$green: #04C65D;
$orange: #ff3800;
$orange2: #FF831A;
$yellow: #FFDB4D;

$dark: #0D0D0D;
$gray-1: #808080;
$gray-2: #A4A4A4;
$gray-3: #D9D9D9;
$gray-4: #EBEAEA;
$gray-5: #E7EEF3;;
