.et-footer {
    padding-top: 63px;
    padding-bottom: 67px;
    color: $white;
    background-color: $dark;

    @media(max-width: 992px) {
        padding-top: 55px;
        padding-bottom: 20px;
    }

    &__navbar {
        justify-content: flex-start;
        flex-wrap: nowrap;
        padding: 0;
        @media(max-width: 992px) {
            flex-wrap: wrap;
        }
        .navbar-nav {
            flex-basis: 77%;
            flex-direction: row;
            flex-wrap: wrap;
            @media(max-width: 992px) {
                flex-basis: 100%;
                margin-bottom: 45px;
            }
        }

        .nav-item {
            width: 33.3%;

            @media(max-width: 768px) {
                width: 64%;
                margin-bottom: 5px;
            }

            @media(max-width: 375px) {
                width: 100%;
                order: 0 !important;
            }

            &--enmap,
            &--plmap,
            &--uamap,
            &--map {
                order: 1;
            }

            &--enterms-of-use,
            &--plterms-of-use,
            &--uaterms-of-use,
            &--terms-of-use {
                order: 4;

                @media(max-width: 768px) {
                    order: 3;
                }
            }

            &--enfaq,
            &--plfaq,
            &--uafaq,
            &--faq {
                order: 2;

                @media(max-width: 768px) {
                    order: 5;
                }
            }

            &--encontact,
            &--plcontact,
            &--uacontact,
            &--contact {
                order: 5;

                @media(max-width: 768px) {
                    order: 2;
                    width: 36%;
                }

                @media(max-width: 375px) {
                    width: 100%;
                }
            }

            &--login {
                order: 3;

                @media(max-width: 768px) {
                    order: 4;
                    width: 36%;
                }

                @media(max-width: 375px) {
                    width: 100%;
                }
            }

            &--logout,
            &--register {
                order: 6;

                @media(max-width: 768px) {
                    width: 36%;
                }

                @media(max-width: 375px) {
                    width: 100%;
                }
            }

            &--logout {
                @media(max-width: 768px) {
                    order: 4;
                }
            }
        }

        .nav-link {
            position: relative;
            display: inline-block;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #ECE9E5;
            cursor: pointer;

            @media(max-width: 768px) {
                font-size: 13px;
                line-height: 18px;
                letter-spacing: -0.2px;
            }

            &:before {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                display: block;
                width: 0;
                height: 2px;
                transition: .2s;
                background-color: $yellow;
            }

            &:hover:before {
                width: calc(100% + 15px);
            }
        }
    }

    hr {
        margin-top: 45px;
        margin-bottom: 50px;
        border-top: 1px solid rgba(255,255,255,.3);

        @media(max-width: 768px) {
            margin-top: 60px;
            margin-bottom: 15px;
        }
    }
}

.et-footer-socials {
    flex-shrink: 0;
    margin-left: auto;
    margin-right: 0;
    padding-top: 5px;

    @media(max-width: 992px) {
        margin-left: 0;
        margin-right: auto;
    }

    &__title {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        @media(max-width: 768px) {
            font-size: 13px;
            line-height: 18px;
        }
    }

    &__list {
        display: flex;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
    }

    &__item {
        margin-right: 12px;
    }
    &__icon {
        display: block;
        width: 36px;
        height: 36px;
        background-position: center center;
        background-repeat: no-repeat;
        transition: .2s;

        &:hover {
            scale: 1.05;
        }

        &:last-child {
            margin-right: 0;
        }

        &--social_facebook {
            background-image: url('/images/footer-fb.svg');
        }

        &--social_twitter {
            background-image: url('/images/footer-twitter.svg');
        }

        &--social_telegram {
            background-image: url('/images/footer-telegram.svg');
        }

        &--social_instagram {
            background-image: url('/images/footer-instagram.svg');
        }
    }
}

.et-footer-bottom {
    display: flex;
    align-items: center;

    @media(max-width: 375px) {
        display: block;
    }

    &__logo {
        flex-shrink: 0;
        display: block;
        margin: 0 20px 0 0;

        @media(max-width: 992px) {
            width: 44px;
            height: 44px;
        }

        @media(max-width: 768px) {
            margin-right: 10px;
        }

        @media(max-width: 375px) {
            margin-bottom: 20px;
        }
    }
    &__copyright-text {
        min-width: 150px;
        margin: 0 auto 0 0;

        @media(max-width: 375px) {
            margin-bottom: 20px;
        }
    }
    &__privacy_policy {
        margin-bottom: 0;

        @media(max-width: 768px) {
            margin-left: 15px;
            margin-right: 0;
        }

        @media(max-width: 375px) {
            margin-left: 0;
        }

        a {
            color: #808080 !important;
        }
    }

    &__privacy_policy,
    &__copyright-text {
        font-size: 12px;
        line-height: 16px;
        font-weight: 300;

        @media(max-width: 768px) {
            font-size: 10px;
            line-height: 14px;
            font-weight: 400;
        }
    }
}
