.et-header {
    position: relative;
    &__empty-space {
        height: 90px;

        @media(max-width: 1199px) {
            height: 83px;
        }
    }
    &__navbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: rgba(255,255,255,0);
        transition: background-color .2s;

        @media (max-width: 1199px) {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .navbar-collapse {
            @media(max-width: 1199px) {
                display: none;
                overflow: auto;
            }
        }

        .navbar-nav {
            @media (max-width: 1199px) {
                text-align: center;
            }
        }

        .nav-item .nav-link {
            position: relative;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 13px;
            color: $dark;

            @media(max-width: 1199px) {
                font-size: 20px;
                line-height: 24px;
            }

            &:before {
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                display: block;
                width: 0;
                height: 2px;
                transition: .2s;
                background-color: $dark;
            }

            &:hover:before {
                width: 100%;
            }

            .btn {
                color: $dark;
            }
            
            &--register {
                cursor: pointer;
            }
        }
    }

    &__container {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            bottom: -17px;
            left: 15px;
            right: 15px;
            display: block;
            height: 2px;
            background-color: $dark;

            @media(max-width: 1199px) {
                bottom: -21px;
                left: 0;
                right: 0;
            }
        }
    }

    &__logo {
        margin-right: 30px;

        @media(max-width: 1199px) {
            width: 44px;
            height: 44px;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        margin-right: 0;

        @media (max-width: 1199px) {
            align-items: stretch;
        }
    }

    &__profile-icon {
        margin-right: 10px;
    }

    &__login-button {
        margin-left: 20px;

        @media(max-width: 1199px) {
            max-width: 335px;
            margin-left: auto;
            margin-right: auto;
            order: 0;
        }
    }

    &__languages {
        margin-left: 30px;
        text-transform: uppercase;

        @media (max-width: 1199px) {
            max-width: 300px;
            margin-top: 25px;
            margin-left: 0;
        }
        .dropdown-toggle {
            font-size: 13px;
            color: $dark;

            &:after {
                margin-left: 2px;
                vertical-align: 2px;
                border-top: 6px solid;
                border-right: 4px solid transparent;
                border-bottom: 0;
                border-left: 4px solid transparent;
            }
        }

        .dropdown-menu {
            min-width: 70px;
            padding: 0;
            border: 2px solid $dark;
        }

        .dropdown-item {
            font-size: 13px;
            color: $dark;
            transition: .2s;

            &:hover {
                background-color: $dark;
                color: $white;
            }
        }
    }

    &__mobile-languages.nav-item {
        order: 3;
        margin-top: 15px;
        margin-bottom: 0;
        padding-top: 20px;
        border-top: 2px solid $dark;

        .nav-link {
            padding-left: 0;
            padding-right: 0;

            &.active .btn {
                color: $dark !important;
            }
        }

        .btn {
            padding: 10px 7px;
            font-size: 20px;
            line-height: 24px;
            color: #D9D9D9 !important;
        }
    }

    &__basket {
        order: 1;
        display: block;
        width: 24px;
        height: 24px;
        margin-left: 13px;
        background-image: url('/images/header-basket.svg');
        background-size: 24px 24px;
        background-position: center center;
        background-repeat: no-repeat;

        @media(max-width: 1199px) {
            margin-left: auto;
            margin-right: 13px;
            order: 0;
        }

        &--has-products {
            position: relative;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                display: block;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: $orange;
            }
        }
    }



    &__profile {
        display: none;
        width: 24px;
        height: 24px;
        margin-top: 2px;
        margin-left: auto;
        margin-right: 23px;
        background-image: url('/images/header-profile-icon.svg');
        background-size: 24px 24px;
        background-position: center center;
        background-repeat: no-repeat;

        @media(max-width: 1199px) {
            display: block;
        }

        & + .et-header__basket {
            @media(max-width: 1199px) {
                margin-left: 0;
            }
        }
    }

    &__toggler {
        margin-right: 0;
        margin-left: 0;
        padding: 10px;

        &-line {
            left: 0;
            display: block;
            width: 20px;
            margin-bottom: 4px;
            height: 2px;
            background-color: $dark;
            transition: .2s;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .et--menu-opened & {
        @media(max-width: 1199px) {
            .et-header__navbar {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 0;
                background-color: rgba(255, 255, 255, 1);

                .container {
                    height: 100%;
                }
            }

            .navbar-collapse {
                position: absolute;
                top: 84px;
                left: 16px;
                right: 16px;
                bottom: 20px;
                display: flex;
                align-items: stretch;
                flex-direction: column;
                padding-top: 94px;
                border-top: 2px solid $dark;

                @media (orientation: landscape) {
                    padding-top: 10px;
                }

                .nav-link {
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
            }

            .navbar-nav {
                margin-left: 0 !important;
                margin-right: 0 !important;
            }

            .et-header__right {
                margin-top: 60px;
                margin-bottom: 0;

                @media (orientation: landscape) {
                    margin-top: 0;
                }

                .nav-link {
                    font-size: 13px;
                    line-height: 18px;

                    &--register {
                        margin-top: 5px;
                    }
                }

                &--auth {
                    .nav-item .nav-link {
                        font-size: 20px;
                        line-height: 24px;
                        color: $dark;
                    }
                }
            }

            .et-header__logo {
                position: absolute;
                top: 20px;
                left: 16px;
            }

            .et-header__toggler {
                position: absolute;
                top: 22px;
                right: 16px;
                display: flex;
                flex-direction: column;
                width: 42px;
                height: 36px;
                &-line {
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    &:nth-child(1) {
                        transform: rotate(45deg);
                    }

                    &:nth-child(2) {
                        left: 100px;
                    }

                    &:nth-child(3) {
                        transform: rotate(-45deg);
                    }
                }
            }

            .et-header__profile,
            .et-header__basket {
                display: none;
            }
        }
    }
}
