<template>
    <div class="et-modal reset-password">
        <div class="et-modal__window reset-password__window">

            <div v-if="!sent" class="form et-modal__inner reset-password__inner">
                <h5 class="reset-password__title">{{ trans('reset_password.title') }}</h5>

                <div class="reset-password__field">
                    <label for="forgotPassword" class="reset-password__label">
                        {{ trans('reset_password.password') }} *
                    </label>

                    <input
                        v-model="password"
                        id="forgotPassword"
                        type="password"
                        class="reset-password__input"
                        :placeholder="trans('reset_password.password')"
                    />
                </div>

                <div class="reset-password__field">
                    <label for="forgotConfirm" class="reset-password__label">
                        {{ trans('reset_password.confirm') }} *
                    </label>

                    <input
                        v-model="confirm"
                        id="forgotConfirm"
                        type="password"
                        class="reset-password__input"
                        :placeholder="trans('reset_password.confirm')"
                    />

                    <p
                        v-if="errors && 'password' in errors"
                        v-for="error in errors.password"
                        class="error"
                    >
                        {{ error }}
                    </p>

                    <p
                        v-if="errors && 'email' in errors"
                        v-for="error in errors.email"
                        class="error"
                    >
                        {{ error }}
                    </p>
                </div>

                <button
                    class="et-btn et-btn--dark reset-password__submit"
                    @click="submit"
                >
                    <span class="et-btn__text">{{ trans('reset_password.send_btn') }}</span>
                </button>
            </div>

            <div v-if="sent" class="et-modal__inner reset-password__inner">
                <h5 class="reset-password__title">{{ trans('reset_password.title') }}</h5>

                <p class="reset-password__success">{{ trans('reset_password.successfully_text') }}</p>

                <a href="/" class="et-btn et-btn--dark reset-password__next">
                    <span class="et-btn__text">{{ trans('reset_password.next_btn') }}</span>
                </a>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        data() {
            return {
                password: '',
                confirm: '',
                sent: false,
                errors: {},
            }
        },

        props: {
            email: {
                type: String,
                default: true,
            },

            token: {
                type: String,
                default: true,
            }
        },

        methods: {
            /**
             * Submits the password recovery form.
             */
            submit () {
                let data = {
                    email: this.email,
                    password: this.password,
                    password_confirmation: this.confirm,
                    token: this.token,
                };

                axios.post('/password/reset', data)
                    .then((response) => {
                        if(response.status === 200) {
                            this.sent = true;
                        }
                    })
                    .catch((error) => {
                        this.errors = error.response.data.errors
                    });
            },
        },
    }
</script>
