.checkout-step-signin {
    .container {
        @media(max-width: 767px) {
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .et-tabs {
        @media(max-width: 767px) {
            margin-bottom: 40px;
        }

        &__header {
            margin-top: 0;
        }
    }

    &__login-btn {
        width: 100%;
        max-width: 272px;

        @media(max-width: 767px) {
            max-width: none;
        }
    }

    &__type-of-person {
        width: 100%;
        max-width: 380px;
        margin-bottom: 40px;

        @media(max-width: 767px) {
            max-width: none;
            margin-bottom: 30px;
        }
    }

    &__register-btn {
        width: 100%;
        max-width: 340px;
        margin-bottom: 20px;

        @media(max-width: 767px) {
            max-width: none;
        }
    }

    &__guest-btn {
        width: 100%;
        max-width: 340px;
        padding-left: 15px;
        padding-right: 15px;

        @media(max-width: 767px) {
            max-width: none;
        }
    }
}
