.checkout-amount {
    hr {
        margin-top: 0;
        margin-bottom: 0;
        border-top: 2px solid $dark;
    }

    &__inner {
        padding: 40px 30px;
        border: 2px solid $dark;
        background-color: $white;

        @media(max-width: 992px) {
            padding-top: 30px;
            padding-bottom: 50px;
        }
    }

    &__title {
        margin-bottom: 30px;

        @media(max-width: 992px) {
            font-size: 18px;
            line-height: 24px;
        }
    }

    &__total {
        margin-top: 20px;
        margin-bottom: 40px;

        @media(max-width: 992px) {
            font-size: 18px;
            line-height: 24px;
        }
    }

    &__icons {
        display: flex;
        justify-content: space-between;
    }
}
