.checkout-step-contacts {
    padding-bottom: 100px;

    @media(max-width: 767px) {
        padding-bottom: 60px;
    }

    .container {
        @media(max-width: 767px) {
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__title {
        margin-bottom: 40px;

        @media(max-width: 767px) {
            margin-bottom: 15px;
        }
    }

    &__amount {
        @media(max-width: 767px) {
            margin-top: 20px;
        }
    }

    &__rules {
        margin-top: 10px;
        margin-bottom: 40px;

        @media(max-width: 767px) {
            margin-top: 30px;
            font-size: 11px;
            line-height: 14px;
        }

        .et-checkbox__checkmark {
            top: 15px;
        }

        a {
            color: $dark;
            text-decoration: underline;
        }
    }

    &__submit {
        width: 100%;
        max-width: 275px;

        @media(max-width: 767px) {
            max-width: none;
        }
    }
}
