.checkout-step-success {
    padding-top: 100px;
    padding-bottom: 100px;

    @media(max-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__title {
        margin-bottom: 40px;

        @media(max-width: 768px) {
            margin-bottom: 30px;
        }
    }

    &__number {
        margin-bottom: 20px;

        @media(max-width: 768px) {
            margin-bottom: 30px;
            font-size: 13px;
            line-height: 18px;
        }

        span {
            color: $gray-2;
        }
    }

    &__email {
        margin-bottom: 40px;

        @media(max-width: 768px) {
            margin-bottom: 30px;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.02em;
        }
    }

    &__button {
        max-width: 255px;

        @media(max-width: 575px) {
            max-width: none;
        }
    }
}
