.checkout-step-payment {
    &__inner {
        &--loading {
            pointer-events: none;
            opacity: .6;
        }
    }

    &__title {
        margin-bottom: 40px;
    }

    &__left {
        max-width: 585px;

        @media(max-width: 992px) {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__pay-btn {
        min-width: 245px;
        margin-top: 50px;

        @media(max-width: 992px) {
            width: 100%;
        }
    }
}

.checkout-step-payment-amount {
    margin-bottom: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 2px solid $gray-2;
    border-bottom: 2px solid $gray-2;

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 14px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__col {
        font-size: 18px;
        line-height: 28px;

        small {
            font-size: 13px;
            line-height: 18px;
            color: $gray-2;
        }
    }
}

.checkout-step-payment-btn {
    cursor: pointer;

    &__radio {
        display: none;
    }

    &__inner {
        display: flex;
        align-items: center;
        min-height: 100px;
        margin-bottom: 10px;
        padding: 5px 32px;
        background-color: $white;
        border-radius: 15px;

        @media(max-width: 992px) {
            min-height: 80px;
        }
    }

    &__check {
        position: relative;
        display: block;
        width: 24px;
        height: 24px;
        margin-left: 0px;
        border: 1px solid $gray-1;
        border-radius: 50%;

        &:before {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 14px;
            height: 14px;
            background-color: $yellow;
            border-radius: 50%;
        }
    }

    &__icon {
        margin-left: 22px;
        filter: grayscale(1);
        transition: .2s;

        @media(max-width: 575px) {
            max-width: 180px;
        }

        @media(max-width: 375px) {
            max-width: 140px;
        }
    }

    &__radio:checked + &__inner {
        .checkout-step-payment-btn__icon {
            filter: grayscale(0);
        }

        .checkout-step-payment-btn__check {
            border-color: $yellow;

            &:before {
                content: '';
            }
        }
    }
}
