.modal-profile-remove-sign {
    &__window {
        width: 100%;
        max-width: 520px;
    }

    &__title {
        margin-bottom: 40px;

        @media(max-width: 768px) {
            margin-bottom: 20px;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__submit {
        width: 100%;
        margin-right: 10px;
    }

    &__cancel {
        width: 100%;
        margin-left: 10px;
    }
}
