.modal-forgot-password {
    &__window {
        width: 100%;
        max-width: 520px;
        min-height: 394px;
    }

    &__title {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__field {
        margin-bottom: 30px;
    }

    &__label {
        margin-bottom: 5px;
    }

    &__sumbit {
        width: 100%;
        margin-bottom: 10px;
    }

    &__login {
        width: 100%;
        font-size: 13px;
        line-height: 18px;
        color: $gray-1;
    }

    &__successfull-text {
        u {
            white-space: nowrap;
        }
    }

    &__notice {
        font-size: 12px;
        line-height: 20px;
        vertical-align: middle;

        @media(max-width: 575px) {
            font-size: 10px;
        }
    }

    &__icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-left: 5px;
        margin-right: 5px;

        @media(max-width: 575px) {
            margin-left: 0;
            margin-right: 0;
        }
    }

    &__resend {
        padding: 0;
        font-size: 13px;
        line-height: 20px;
        text-decoration-line: underline !important;
        color: $dark;

        @media(max-width: 575px) {
            font-size: 10px;
        }
    }
}
