.modal-register {
    &__window {
        width: 910px;
    }

    &__title {
        margin-bottom: 40px;
    }

    &__field {
        margin-bottom: 20px;
    }

    &__actions {
        display: flex;
        flex-wrap: wrap;

        @media(max-width: 768px) {
            flex-direction: column-reverse;
            align-items: flex-start;
        }
    }

    &__submit {
        margin-top: 20px;
        margin-right: 30px;
    }

    &__rules {
        margin-top: 20px;
        font-size: 12px;
        line-height: 16px;
        color: $dark;

        a {
            color: $dark !important;
            text-decoration: underline;
        }
    }

    &__success {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 150px;
    }
}
