.et-modal {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 99;
    transition: .2s;

    &--open {
        visibility: visible;
        opacity: 1;
    }

    &__substrate {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .6);
        z-index: 1;
    }

    &__window {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
        max-width: 100%;
        min-width: 300px;
        max-height: 100%;
        overflow: auto;
        background-color: $gray-5;
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 70px;
        height: 70px;
        cursor: pointer;

        @media(max-width: 768px) {
            width: 50px;
            height: 50px;
        }

        &:after,
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 19px;
            height: 2px;
            background-color: $dark;
        }

        &:after {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &:before {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    &__inner {
        padding: 60px;

        @media(max-width: 768px) {
            padding: 50px 20px 20px 20px;
        }
    }
}
