.modal-profile-add-sign {
    &--loading {
        .modal-profile-add-sign__field {
            opacity: .5;
        }
    }

    &__window {
        width: 100%;
        max-width: 520px;
    }

    &__title {
        margin-bottom: 40px;

        @media(max-width: 768px) {
            margin-bottom: 20px;
        }
    }

    &__field {
        margin-bottom: 40px;

        @media(max-width: 768px) {
            margin-bottom: 20px;
        }
    }

    &__label {
        margin-bottom: 5px;
    }

    &__submit {
        width: 100%;
        margin-bottom: 20px;
    }

    &__cancel {
        width: 100%;
    }
}
