.modal-login {
    &__inner {
        padding-top: 80px;
        padding-bottom: 80px;

        @media(max-width: 992px) {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    &__window {
        width: 525px;
    }

    .et-tabs__header {
        margin-top: 0;
    }

    &__field {
        margin-bottom: 20px;
    }

    &__forgot {
        display: inline-block;
        margin-top: 10px;
        font-size: 12px;
        line-height: 16px;
    }

    &__actions {
        margin-top: 30px;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 2px solid $dark;
    }

    &__login-btn {
        width: 100%;
        margin-bottom: 20px;
    }

    &__google-btn {
        @media(max-width: 375px) {
            padding-left: 10px;
            padding-right: 10px;
        }

        .et-btn__text {
            margin-right: 10px;
        }
    }

    &__register {
        margin-bottom: 0;
        text-align: center;

        @media(max-width: 992px) {
            font-weight: 300;
            font-size: 13px;
            line-height: 18px;
        }
    }
}
