<template>
    <div class="cart-create-item">
        <button class="btn cart-create-item__remove" @click.prevent="remove">
            <i class="far fa-times-circle"></i>
        </button>

        <div class="cart-create-item__inner">
            <h3 class="cart-create-item__title">
                {{ 1 + index }} Форма
            </h3>

            <div class="row">
                <div class="col-md-4 cart-create-item__field">
                    <div class="form-group">
                        <label :for="'country_' + index" class="cart-create-item__label">
                            Країна реєстрації ТЗ
                        </label>

                        <select
                            class="form-control"
                            :id="'country_' + index"
                            @change="changeData('country', $event.target.value)"
                        >
                            <option></option>

                            <option
                                v-for="(country, key) in countries"
                                :value="country.value"
                                :key="key"
                                :selected="country.value === vignette.country"
                            >
                                {{ country.label }}
                            </option>
                        </select>

                        <p
                            v-if="hasErrors && `vignettes.${index}.country` in errors"
                            v-for="error in errors[`vignettes.${index}.country`]"
                            class="error"
                        >
                            {{ error }}
                        </p>
                    </div>
                </div>

                <div class="col-md-4 cart-create-item__field">
                    <div class="form-group">
                        <label for="sign" class="cart-create-item__label">
                            Номерний знак автомобіля
                        </label>

                        <sign-field
                            :value="vignette.sign"
                            placeholder="Номерний знак автомобіля"
                            id="sign"
                            classes="form-control cart-create-item__input"
                            @input="(value) => changeData('sign', value)"
                        ></sign-field>

                        <p
                            v-if="hasErrors && `vignettes.${index}.sign` in errors"
                            v-for="error in errors[`vignettes.${index}.sign`]"
                            class="error"
                        >
                            {{ error }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 cart-create-item__field">
                    <div class="form-group">
                        <label :for="'product_' + index" class="cart-create-item__label">
                            Виберіть потрібну віньєтку
                        </label>

                        <select
                            class="form-control"
                            :id="'product_' + index"
                            @change="changeData('vignetteId', $event.target.value)"
                        >
                            <option></option>

                            <option
                                v-for="(product, key) in products"
                                :value="product.id"
                                :key="key"
                                :selected="product.id == vignette.vignetteId"
                            >
                                {{ product.term }}-денна
                            </option>
                        </select>

                        <p
                            v-if="hasErrors && `vignettes.${index}.vignetteId` in errors"
                            v-for="error in errors[`vignettes.${index}.vignetteId`]"
                            class="error"
                        >
                            {{ error }}
                        </p>
                    </div>
                </div>

                <div class="col-md-4 cart-create-item__field">
                    <div class="form-group">
                        <label :for="'product_' + index" class="d-block cart-create-item__label">
                            Початок дії
                        </label>

                        <v-datepicker
                            :value="vignette.start"
                            :value-type="DATE_FORMAT"
                            :format="DATE_FORMAT"
                            :disabled-date="disabledDate"
                            @change="(data) => changeData('start', data)"
                            input-class="form-control cart-create-item__input"
                            :lang="datepickerLocale"
                        ></v-datepicker>

                        <p
                            v-if="hasErrors && `vignettes.${index}.start` in errors"
                            v-for="error in errors[`vignettes.${index}.start`]"
                            class="error"
                        >
                            {{ error }}
                        </p>
                    </div>
                </div>

                <div class="col-md-4 cart-create-item__field">
                    <div class="form-group">
                        <label :for="'product_' + index" class="cart-create-item__label">
                            Кінець дії
                        </label>

                        <input
                            type="text"
                            :value="endDate"
                            disabled
                            class="form-control cart-create-item__input"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                /**
                 * Date format of the Datepicker
                 */
                DATE_FORMAT: 'DD.MM.YYYY',

                /**
                 * Variable for the saving timer
                 */
                timer: null,

                /**
                 * Еhe object of the local for the datepicker
                 */
                datepickerLocale: require('vue2-datepicker/locale/uk.js'),
            }
        },

        props: {
            /**
             * Index of current item of the vignettes list
             */
            index: {
                type: Number,
                required: true,
            },

            /**
             * Object of the vignette
             */
            vignette: Object,
        },

        computed: {
            /**
             * Returns the errors
             */
            errors() {
                return this.$store.getters['chooseVignettes/getErrors'];
            },

            /**
             * Checks is has any errors
             */
            hasErrors() {
                return this.$store.getters['chooseVignettes/hasErrors'];
            },

            /**
             * Return the name for dysplay of the country select
             * @returns {string}
             */
            selectedProductName() {
                return this.products.filter(item => item.id == this.vignette.vignetteId);
            },

            /**
             * Returns products from a storage
             */
            products() {
                return this.$store.getters['products/getProducts'];
            },

            /**
             * Returns current year
             */
            currentYear() {
                return moment().year();
            },

            /**
             * Returns the product related for this vignette
             * @returns {*}
             */
            currentProduct() {
                return this.products.find(item => item.id == this.vignette.vignetteId)
            },

            /**
             * Calculdates the end date
             */
            endDate() {
                let endDate = null;
                if (this.currentProduct && this.vignette.start) {
                    endDate = moment(this.vignette.start, this.DATE_FORMAT)
                        .add(this.currentProduct.term - 1, 'days')
                        .format(this.DATE_FORMAT);
                }

                return endDate;
            },

            /**
             * Returns the  countries from a storage
             */
            countries() {
                return this.$store.getters['countries/getCountriesArr'];
            },
        },

        methods: {
            /**
             * Calculates unavailable dates
             * @param date
             * @param currentValue
             * @returns {boolean}
             */
            disabledDate(date, currentValue) {
                return moment(date).startOf('day') < moment().startOf('day');
            },

            /**
             * Copies the props, replaces the passed value, and pushes the modified object to storage.
             * @param key
             * @param data
             */
            changeData(key, data) {
                clearTimeout(this.timer);

                this.timer = setTimeout(() => {
                    const vignette = Object.assign({}, this.vignette)
                    vignette[key] = data;

                    this.$store.commit('chooseVignettes/updateVignette', { vignette, index: this.index });
                }, 200);
            },

            /**
             * Removes the Vignette from the storage
             * Sends validate request to check if errors were there before
             */
            remove() {
                this.$store.commit('chooseVignettes/removeItem', { index: this.index });

                if (this.hasErrors) {
                    this.$store.dispatch('chooseVignettes/validate');
                }
            },
        },
    }
</script>
