<template>
    <form class="cart-create">
        <div class="cart-create-contacts">
            <div class="row">
                <div class="col-lg-6 cart-create-contacts__field">
                    <div class="form-group">
                        <label for="checkout_name" class="cart-create-contacts__label">
                            Ім’я *
                        </label>

                        <input
                            v-model="name"
                            id="checkout_name"
                            type="text"
                            class="form-control cart-create-contacts__input"
                            placeholder="Ім’я"
                        />

                        <p
                            v-if="errors && 'name' in errors"
                            v-for="error in errors.name"
                            class="error"
                        >
                            {{ error }}
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 cart-create-contacts__field">
                    <div class="form-group">
                        <label for="checkout_email" class="cart-create-contacts__label">
                            E-mail *
                        </label>

                        <input
                            v-model="email"
                            id="checkout_email"
                            type="email"
                            class="form-control cart-create-contacts__input"
                            placeholder="E-mail"
                        />

                        <p
                            v-if="errors && 'email' in errors"
                            v-for="error in errors.email"
                            class="error"
                        >
                            {{ error }}
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 cart-create-contacts__field">
                    <div class="form-group">
                        <label for="checkout_phone" class="cart-create-contacts__label">
                            Номер телефону *
                        </label>

                        <phone-field
                            v-model="phone"
                            placeholder="Номер телефону"
                            class="form-control cart-create-contacts__input"
                            id="checkout_phone"
                        ></phone-field>

                        <p
                            v-if="errors && 'phone' in errors"
                            v-for="error in errors.phone"
                            class="error"
                        >
                            {{ error }}
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 cart-create-contacts__field">
                    <div class="form-group">
                        <label for="checkout_country" class="cart-create-contacts__label">
                            Країна *
                        </label>

                        <select
                            v-model="country"
                            class="form-control"
                            id="checkout_country"
                        >
                            <option></option>

                            <option
                                v-for="(country, key) in countries"
                                :value="country.value"
                                :key="key"
                                :selected="country === country.value"
                            >
                                {{ country.label }}
                            </option>
                        </select>

                        <p
                            v-if="errors && 'country' in errors"
                            v-for="error in errors.country"
                            class="error"
                        >
                            {{ error }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <hr class="mt-4 mb-5">

        <div class="cart-create__items">
            <CartItem
                v-if="items.length"
                v-for="(item, index) in items"
                :key="index"
                :vignette="item"
                :index="index"
            />
        </div>

        <button
            @click.prevent="addVignette"
            class="btn btn-outline-primary cart-create__add-btn"
        >
            <span class="et-btn__text">Додати віньєтку</span>
        </button>

        <button
            @click.prevent="submit"
            class="btn btn-primary cart-create__add-btn"
            :disabled="!formIsValidate"
        >
            <span class="et-btn__text">Згенерувати</span>
        </button>
    </form>
</template>

<script>
    import CartItem from './CartItem';

    export default {
        components: { CartItem },

        data() {
            return {
                name: '',
                email: '',
                phone: '',
                country: 'UA',
                errors: {},
            }
        },

        computed: {
            /**
             * Returns vignette items
             *
             * @returns {any}
             */
            items() {
                return this.$store.getters['chooseVignettes/getVignettes']
            },

            /**
             * Returns the countries from a storage
             */
            countries() {
                return this.$store.getters['countries/getCountriesArr'];
            },

            /**
             * Validates fills of fields form
             * @returns {0}
             */
            formIsValidate() {
                return (
                    this.name.length &&
                    this.email.length &&
                    this.phone.length &&
                    this.country.length &&
                    this.items.length
                );
            },
        },

        methods: {
            /**
             * Adds the empty vignette to the list
             */
            addVignette() {
                this.$store.commit('chooseVignettes/addEmptyVignette');
            },

            /**
             * Sends cart data to save
             */
            async submit() {
                const data = {
                    name: this.name,
                    email: this.email,
                    phone: this.phone,
                    country: this.country,
                    vignettes: this.items,
                };

                this.errors = {};
                this.$store.commit('chooseVignettes/setErrors', { errors: {} })

                axios.post('/order/store', data)
                    .then((response) => {
                        if (response.status === 200) {
                            window.location.replace('/admin/vignette?manager=1')
                        }
                    })
                    .catch((error) => {
                        const errors = error.response.data.errors;
                        this.errors = errors;
                        this.$store.commit('chooseVignettes/setErrors', { errors })
                    });
            }
        },

        mounted() {
            this.$store.dispatch('products/loadProducts');
            this.$store.dispatch('chooseVignettes/loadState');
            this.$store.dispatch('countries/loadCountries');
        }
    }
</script>
