<template>
    <div class="my-vignettes" :class="{'my-vignettes--loading': loading}">
        <div class="my-vignettes-list__inner">

            <div class="my-vignettes__header">
                <div class="et-tabs__header my-vignettes__tabs">
                    <h6
                        @click="loadActual"
                        class="et-tabs__button"
                        :class="{ 'et-tabs__button--active': currentLoadTab === loadTypeActual }"
                    >
                        {{ trans('profile.vignettes.tab_actual') }}
                    </h6>

                    <h6
                        @click="loadAll"
                        class="et-tabs__button"
                        :class="{ 'et-tabs__button--active': currentLoadTab === loadTypeAll }"
                    >
                        {{ trans('profile.vignettes.tab_all') }}
                    </h6>
                </div>

                <ProfileSearchField
                    @submit="loadFirstPage"
                    @input="updateSearchField"
                    :value="search"
                ></ProfileSearchField>
            </div>

            <div class="my-vignettes-list">
                <div class="my-vignettes-list__header">
                    <div class="my-vignettes-list__column my-vignettes-list__column--type">
                        {{ trans('profile.vignettes.column_type') }}
                    </div>

                    <div class="my-vignettes-list__column my-vignettes-list__column--sign">
                        {{ trans('profile.vignettes.column_sign') }}
                    </div>

                    <div class="my-vignettes-list__column my-vignettes-list__column--name">
                        {{ trans('profile.vignettes.column_name') }}
                    </div>

                    <div class="my-vignettes-list__column my-vignettes-list__column--start">
                        {{ trans('profile.vignettes.column_start') }}
                    </div>

                    <div class="my-vignettes-list__column my-vignettes-list__column--end">
                        {{ trans('profile.vignettes.column_end') }}
                    </div>

                    <div class="my-vignettes-list__column my-vignettes-list__column--status">
                        {{ trans('profile.vignettes.column_status') }}
                    </div>
                </div>

                <div v-if="items.length" class="my-vignettes-list__items">
                    <div
                        v-for="item in items"
                        :key="item.id"
                        class="my-vignettes-list__item"
                    >
                        <div class="my-vignettes-list__column my-vignettes-list__column--type">
                            <span class="my-vignettes-list__label">{{ trans('profile.vignettes.column_type') }}</span>

                            <img :src="item.categoryImage" :alt="item.categoryTitle" :title="item.categoryTitle"/>
                        </div>

                        <div class="my-vignettes-list__column my-vignettes-list__column--sign">
                            <span class="my-vignettes-list__label">{{ trans('profile.vignettes.column_sign') }}</span>

                            {{ item.sign }}
                        </div>

                        <div class="my-vignettes-list__column my-vignettes-list__column--name">
                            <span class="my-vignettes-list__label">{{ trans('profile.vignettes.column_name') }}</span>

                            {{ trans('profile.vignettes.vignette_on') }} {{ item.term }}-{{ trans('profile.vignettes.days') }}
                        </div>

                        <div class="my-vignettes-list__column my-vignettes-list__column--start">
                            <span class="my-vignettes-list__label">{{ trans('profile.vignettes.column_start') }}</span>

                            {{ item.start }}
                        </div>

                        <div class="my-vignettes-list__column my-vignettes-list__column--end">
                            <span class="my-vignettes-list__label">{{ trans('profile.vignettes.column_end') }}</span>

                            {{ item.end }}
                        </div>

                        <div class="my-vignettes-list__column my-vignettes-list__column--status">
                            <span class="my-vignettes-list__label">{{ trans('profile.vignettes.column_status') }}</span>

                            <p
                                class="my-vignettes-list__status"
                                :class="[`my-vignettes-list__status--${item.status}`]"
                                v-html=""
                            >
                            <span class="d-lg-none my-vignettes-list__status-text">
                                {{ trans(`profile.vignettes.status_${item.status}_text`) }}
                            </span>

                                <img
                                    :src="`/images/profile-vignette-${item.status}-status.svg`"
                                    :alt="trans(`profile.vignettes.status_${item.status}_image`)"
                                    :title="trans(`profile.vignettes.status_${item.status}_image`)"
                                    width="20"
                                    height="20"
                                />
                            </p>
                        </div>
                    </div>
                </div>

                <div v-if="!loading && !items.length" class="my-vignettes-list__items">
                    <h4 class="mt-lg-4 text-center">{{ trans('profile.vignettes.no_data') }}</h4>
                </div>
            </div>

            <ProfilePagination
                v-if="items.length"
                class="my-vignettes__pagination"
                :pagination="pagination"
                @change-page="changePage"
            ></ProfilePagination>
        </div>
    </div>
</template>
<script>
    import { LOAD_TYPE_ALL, LOAD_TYPE_ACTUAL, } from './../../store/modules/my-vignettes';
    import ProfilePagination from './ProfilePagination.vue';
    import ProfileSearchField from './ProfileSearchField.vue';

    export default {
        components: {
            ProfilePagination,
            ProfileSearchField,
        },

        computed: {
            /**
             * Returns the vignettes from the storage
             * @returns {any}
             */
            items() {
                return this.$store.getters['myVignettes/getVignettes'];
            },

            /**
             * Returns the object of vignettes pagination
             */
            pagination() {
                return this.$store.getters['myVignettes/getPagination'];
            },

            /**
             * Returns the object of vignettes pagination
             */
            search() {
                return this.$store.getters['myVignettes/getSearch'];
            },

            /**
             * Returns selected tab name
             */
            currentLoadTab() {
                return this.$store.getters['myVignettes/getLoadType'];
            },

            /**
             * Returns the title of the all vignette tab
             */
            loadTypeAll() {
                return LOAD_TYPE_ALL;
            },

            /**
             * Returns the title of the actual vignette tab
             */
            loadTypeActual() {
                return LOAD_TYPE_ACTUAL;
            },

            /**
             * Returns loading status
             */
            loading() {
                return this.$store.getters['myVignettes/getLoading'];
            }
        },

        methods: {
            /**
             * Loads vignettes related to the search query
             */
            loadFirstPage() {
                this.$store.commit('myVignettes/setCurrentPage', 1);
                this.$store.dispatch('myVignettes/loadVignettes');
            },

            /**
             * Updates search field in the storage
             */
            updateSearchField(value) {
                this.$store.commit('myVignettes/setSearch', value);
                this.delayLoad();
            },

            /**
             * Loads the first page with a delay.
             */
            delayLoad: _.debounce(function() {
                this.loadFirstPage();
            }, 500),

            /**
             * Loads vignettes by page
             */
            changePage(page) {
                this.$store.commit('myVignettes/setCurrentPage', page);
                this.$store.dispatch('myVignettes/loadVignettes');
            },

            /**
             * Lads all vignettes
             */
            loadAll() {
                this.$store.commit('myVignettes/setLoadType', { type: this.loadTypeAll})
                this.loadFirstPage();
            },

            /**
             * Loads only actual vignettes
             */
            loadActual() {
                this.$store.commit('myVignettes/setLoadType', { type: this.loadTypeActual})
                this.loadFirstPage();
            },
        },

        mounted() {
            this.loadFirstPage();
        }
    }
</script>
