<template>
    <div
        class="profile-signs"
        :class="{'profile-signs--loading': loading}"
    >
        <div class="profile-signs__header">
            <button class="et-btn et-btn--light profile-signs__add-sign" @click="openAddSignModal">
                <span class="et-btn__text">+ {{ trans('profile.signs.add_sign_button') }}</span>
            </button>

            <ProfileSearchField
                @submit="loadFirstPage"
                @input="updateSearchField"
                :value="search"
            />
        </div>

        <div class="row profile-signs__items">
            <div v-for="item in signs" class="col-sm-6 col-lg-4 profile-signs__item">
                <div class="profile-signs__item-inner">
                    {{ item.sign }}

                    <span
                        @click="remove(item)"
                        class="profile-signs__remove"
                    ></span>
                </div>
            </div>
        </div>

        <ProfilePagination
            class="profile-signs__pagination"
            :pagination="pagination"
            @change-page="changePage"
        />

        <ProfileAddSignModal />
        <ProfileRemoveSignModal :sign="removingSign" />
    </div>
</template>
<script>
import ProfilePagination from './ProfilePagination.vue';
import ProfileSearchField from './ProfileSearchField.vue';
import ProfileAddSignModal from './ProfileAddSignModal.vue';
import ProfileRemoveSignModal from './ProfileRemoveSignModal.vue';

export default {
    components: {
        ProfilePagination,
        ProfileSearchField,
        ProfileAddSignModal,
        ProfileRemoveSignModal,
    },

    data() {
        return {
            removingSign: null,
        }
    },

    computed: {
        /**
         * Returns the list of the user signs
         * @returns {any}
         */
        signs() {
            return this.$store.getters['userSigns/getPaginateSigns'];
        },

        /**
         * Returns the pagination object
         * @returns {any}
         */
        pagination() {
            return this.$store.getters['userSigns/getPagination'];
        },

        /**
         * Returns the loading status
         * @returns {any}
         */
        loading() {
            return this.$store.getters['userSigns/getLoading'];
        },

        /**
         * Returns the search value of the storage
         */
        search() {
            return this.$store.getters['userSigns/getSearch'];
        },
    },

    methods: {
        /**
         * Loads vignettes by page
         */
        changePage(page) {
            this.$store.commit('userSigns/setCurrentPage', page);
            this.$store.dispatch('userSigns/loadProfileSigns');
        },

        /**
         * Loads vignettes related to the search query
         */
        loadFirstPage() {
            this.$store.commit('userSigns/setCurrentPage', 1);
            this.$store.dispatch('userSigns/loadProfileSigns');
        },

        /**
         * Updates search field in the storage
         */
        updateSearchField(value) {
            this.$store.commit('userSigns/setSearch', value);
            this.delayLoad();
        },

        /**
         * Loads the first page with a delay.
         */
        delayLoad: _.debounce(function() {
            this.loadFirstPage();
        }, 500),

        /**
         * Opens the adding sign modal window
         */
        openAddSignModal() {
            this.$store.commit('modals/toggleProfileAddSign');
        },

        /**
         * Opens the remove sign modal
         * @param sign
         */
        remove(sign) {
            this.removingSign = sign;
            this.$store.commit('modals/toggleProfileRemoveSign');
        },
    },

    mounted() {
        this.$store.dispatch('userSigns/loadProfileSigns');
    }
}
</script>
