<template>
    <div v-if="pagination" class="profile-pagination">
        <div class="profile-pagination__total">
            {{ totalText }}
        </div>

        <nav class="profile-pagination__pagination">
            <ul class="pagination">
                <li v-for="link in pagination.links" class="page-item">
                    <button
                        class="page-link"
                        :class="{'page-link--active': link.active}"
                        @click="changePage(link.url)"
                        :disabled="!link.url"
                    >
                        {{ link.label }}
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</template>
<script>
export default {
    props: {
        pagination: Object,
    },

    computed: {
        /**
         * Returns text of total items
         */
        totalText() {
            const totalText = this.trans(`profile.pagination.total_text`);
            const totalFrom = this.trans(`profile.pagination.total_from`);
            const showedFrom = this.pagination.from ? this.pagination.from : 0;
            const showedTo = this.pagination.to ? this.pagination.to : 0;
            const total = this.pagination.total ? this.pagination.total : 0;

            return `${totalText} ${showedFrom}-${showedTo} ${totalFrom} ${total}`;
        },
    },

    methods: {
        /**
         * Gets number of page and emit the change-page custom event
         */
        changePage(url) {
            if(!url) {
                return;
            }

            this.$emit('change-page', new URL(url).searchParams.get('page'))
        },
    },
}
</script>
