<template>
    <div
        class="profile-notifications"
        :class="{'profile-notifications--loading': loading}"
    >
        <div class="profile-notifications__header">
            <button
                class="btn profile-notifications__header-btn profile-notifications__header-btn--all"
                :class="{'profile-notifications__header-btn--active': typeOfLoading === typeOfLoadAll}"
                @click="changeTypeOfLoading(typeOfLoadAll)"
            >
                {{ trans('profile.notifications.header_all') }}
            </button>

            <button
                :disabled="!hasNewNotifications"
                class="btn profile-notifications__header-btn profile-notifications__header-btn--new"
                :class="{'profile-notifications__header-btn--active': typeOfLoading === typeOfLoadNew}"
                @click="changeTypeOfLoading(typeOfLoadNew)"
            >
                {{ trans('profile.notifications.header_new') }}
            </button>

            <button
                :disabled="!hasNewNotifications"
                class="btn profile-notifications__header-btn profile-notifications__header-btn--check-all"
                @click="markAsRead(null)"
            >
                {{ trans('profile.notifications.header_check_all') }}
            </button>
        </div>

        <div v-if="hasItems" class="profile-notifications__items">
            <p v-if="typeOfLoading === typeOfLoadAll" class="profile-notifications__title">
                {{
                    hasNewNotifications
                        ? trans('profile.notifications.title_new')
                        : trans('profile.notifications.title_before')
                }}
            </p>

            <template v-for="(notification, index) in notifications">
                <p v-if="isBeforeTitle(index)" class="profile-notifications__title">
                    {{ trans('profile.notifications.title_before') }}
                </p>

                <VignetteNotification
                    v-if="notification.type === typeOfVignette"
                    :notification="notification"
                    :key="index"
                    @mark-as-read="markAsRead"
                />
            </template>
        </div>

        <div v-if="!hasItems && !loading" class="profile-notifications__items">
            <h4 class="mt-lg-4 text-center">{{ trans('profile.vignettes.no_data') }}</h4>
        </div>

        <ProfilePagination
            v-if="hasItems"
            class="profile-notifications__pagination"
            :pagination="pagination"
            @change-page="changePage"
        />
    </div>
</template>
<script>
import {
    NOTIFICATION_TYPE_OF_VIGNETTE,
    TYPE_OF_LOAD_ALL,
    TYPE_OF_LOAD_NEW,
} from '@front-resources-js/store/modules/notifications';

import VignetteNotification from './notifications/VignetteNotification.vue';
import ProfilePagination from './ProfilePagination.vue';

export default {
    components: {
        VignetteNotification,
        ProfilePagination,
    },

    data() {
        return {
            typeOfVignette: NOTIFICATION_TYPE_OF_VIGNETTE,
            typeOfLoadAll: TYPE_OF_LOAD_ALL,
            typeOfLoadNew: TYPE_OF_LOAD_NEW,
        }
    },

    props: {
        initLoadingType: {
            type: String,
            require: true,
        },
    },

    computed: {
        /**
         * Returns the list of the user notifications
         * @returns {array}
         */
        notifications() {
            return this.$store.getters['notifications/getPaginateNotifications'];
        },

        /**
         * Returns the pagination object
         * @returns {object}
         */
        pagination() {
            return this.$store.getters['notifications/getPagination'];
        },

        /**
         * Returns the loading status
         * @returns {string}
         */
        loading() {
            return this.$store.getters['notifications/getLoading'];
        },

        /**
         * Returns result checking count of the notifications
         * @returns {boolean}
         */
        hasItems() {
            return !(!this.notifications || !this.notifications.length);
        },

        /**
         * Checks for new notifications
         */
        hasNewNotifications() {
            return this.hasItems && this.notifications[0].read_at === null
        },

        /**
         * Returns type of loading
         * @returns {string}
         */
        typeOfLoading() {
            return this.$store.getters['notifications/getTypeOfLoading'];
        },
    },

    methods: {
        /**
         * Loads notifications by page
         */
        changePage(page) {
            this.$store.commit('notifications/setCurrentPage', page);
            this.$store.dispatch('notifications/loadProfileNotifications');
        },

        /**
         * Checks is first read item
         * @param index
         * @returns {boolean}
         */
        isBeforeTitle(index) {
            return this.notifications[index].read_at !== null
                && index !== 0
                && this.notifications[(index - 1)].read_at === null;
        },

        /**
         * Changes type of loads notifications
         * @param type
         */
        changeTypeOfLoading(type) {
            this.$store.commit('notifications/setTypeOfLoading', type);
            this.changePage(1);
        },

        /**
         * Marks all notifications as read
         */
        markAsRead(id = null) {
            this.$store.dispatch('notifications/markAsRead', id);

            if (!id || this.notifications.length === 1) {
                this.$store.commit('notifications/setTypeOfLoading', this.typeOfLoadAll);
                window.document
                    .querySelector('.profile-sidebar__item--active.profile-sidebar__item--reminder')
                    .classList
                    .remove('profile-sidebar__item--reminder');
            }
        }
    },

    mounted() {
        this.changeTypeOfLoading(this.initLoadingType);
    }
}
</script>
