<template>
    <form class="form profile-form">
        <div class="row">
            <div class="col-md-6">
                <div class="profile-form__field">
                    <label for="nameProfile" class="profile-form__label">
                        {{ trans('profile.form.name') }} *
                    </label>

                    <input
                        v-model="name"
                        id="nameProfile"
                        type="text"
                        class="profile-form__input"
                        :placeholder="trans('profile.form.name')"
                    />

                    <p
                        v-if="errors && 'name' in errors"
                        v-for="error in errors.name"
                        class="error"
                    >
                        {{ error }}
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="profile-form__field">
                    <label for="surnameProfile" class="profile-form__label">
                        {{ trans('profile.form.surname') }}
                    </label>

                    <input
                        v-model="surname"
                        id="surnameProfile"
                        type="text"
                        class="profile-form__input"
                        :placeholder="trans('profile.form.surname')"
                    />

                    <p
                        v-if="errors && 'surname' in errors"
                        v-for="error in errors.surname"
                        class="error"
                    >
                        {{ error }}
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="profile-form__field">
                    <label for="emailProfile" class="profile-form__label">
                        {{ trans('profile.form.email') }} *
                    </label>

                    <input
                        v-model="email"
                        id="emailProfile"
                        type="email"
                        class="profile-form__input"
                        :placeholder="trans('profile.form.email')"
                    />

                    <p
                        v-if="errors && 'email' in errors"
                        v-for="error in errors.email"
                        class="error"
                    >
                        {{ error }}
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="profile-form__field">
                    <label for="phoneProfile" class="profile-form__label">
                        {{ trans('profile.form.phone') }} *
                    </label>

                    <phone-field
                        :value="phone"
                        @input="(value) => phone = value"
                        :placeholder="trans('profile.form.phone')"
                        :class="'profile-form__input'"
                        :id="'phoneProfile'"
                    ></phone-field>

                    <p
                        v-if="errors && 'phone' in errors"
                        v-for="error in errors.phone"
                        class="error"
                    >
                        {{ error }}
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="profile-form__field">
                    <label for="countryProfile" class="profile-form__label">
                        {{ trans('profile.form.country') }} *
                    </label>

                    <et-countries id="countryProfile" v-model="country"></et-countries>

                    <p
                        v-if="errors && 'country' in errors"
                        v-for="error in errors.country"
                        class="error"
                    >
                        {{ error }}
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="profile-form__field">
                    <label for="cityProfile" class="profile-form__label">
                        {{ trans('profile.form.city') }}
                    </label>

                    <input
                        v-model="city"
                        id="cityProfile"
                        type="text"
                        class="profile-form__input"
                        :placeholder="trans('profile.form.city')"
                    />

                    <p
                        v-if="errors && 'city' in errors"
                        v-for="error in errors.city"
                        class="error"
                    >
                        {{ error }}
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="profile-form__field">
                    <label for="postcodeProfile" class="profile-form__label">
                        {{ trans('profile.form.postcode') }}
                    </label>

                    <input
                        v-model="postcode"
                        id="postcodeProfile"
                        type="text"
                        class="profile-form__input"
                        :placeholder="trans('profile.form.postcode')"
                    />

                    <p
                        v-if="errors && 'postcode' in errors"
                        v-for="error in errors.postcode"
                        class="error"
                    >
                        {{ error }}
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="profile-form__field">
                    <label for="addressProfile" class="profile-form__label">
                        {{ trans('profile.form.address') }}
                    </label>

                    <input
                        v-model="address"
                        id="addressProfile"
                        type="text"
                        class="profile-form__input"
                        :placeholder="trans('profile.form.address')"
                    />

                    <p
                        v-if="errors && 'address' in errors"
                        v-for="error in errors.address"
                        class="error"
                    >
                        {{ error }}
                    </p>
                </div>
            </div>

            <div class="col-12">
                <button @click="showPasswords = !showPasswords" class="btn profile-form__show-password" type="button">
                    {{ trans('profile.form.show_password_btn') }}
                </button>
            </div>
        </div>

        <div v-show="showPasswords" class="row profile-form__passwords">
            <div class="col-md-6">
                <div class="profile-form__field">
                    <label for="passwordProfileOld" class="profile-form__label">
                        {{ trans('profile.form.old_password') }} *

                        <button
                            type="button"
                            class="profile-form__info"
                            :content="trans('profile.form.change_pass_notice')"
                            v-tippy="{ placement : 'top-start',  arrow: false, trigger : 'click', theme: 'profile', }"
                        >i</button>
                    </label>

                    <input
                        v-model="passwordOld"
                        id="passwordProfileOld"
                        type="password"
                        class="profile-form__input"
                        :placeholder="trans('profile.form.old_password')"
                    />

                    <p
                        v-if="errors && 'password_old' in errors"
                        v-for="error in errors.password_old"
                        class="error"
                    >
                        {{ error }}
                    </p>
                </div>
            </div>

            <div class="d-none d-md-block col-md-6"></div>

            <div class="col-md-6">
                <div class="profile-form__field">
                    <label for="passwordProfile" class="profile-form__label">
                        {{ trans('profile.form.new_password') }} *
                    </label>

                    <input
                        v-model="password"
                        id="passwordProfile"
                        type="password"
                        class="profile-form__input"
                        :placeholder="trans('profile.form.new_password')"
                    />

                    <p
                        v-if="errors && 'password' in errors"
                        v-for="error in errors.password"
                        class="error"
                    >
                        {{ error }}
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="profile-form__field">
                    <label for="password_confirmation" class="profile-form__label">
                        {{ trans('profile.form.confirm_password') }} *
                    </label>

                    <input
                        v-model="password_confirmation"
                        id="password_confirmation"
                        type="password"
                        class="profile-form__input"
                        :placeholder="trans('profile.form.confirm_password')"
                    />

                    <p
                        v-if="errors && 'password_confirmation' in errors"
                        v-for="error in errors.password_confirmation"
                        class="error"
                    >
                        {{ error }}
                    </p>
                </div>
            </div>
        </div>

        <div class="profile-form__actions">
            <button
                type="button"
                :disabled="submitDisabled"
                @click.prevent="submit"
                class="et-btn et-btn--dark profile-form__submit"
            >
                <span class="et-btn__text">{{ trans('profile.form.button') }}</span>
            </button>
        </div>
    </form>
</template>
<script>
    export default {
        data() {
            return {
                name: '',
                surname: '',
                email: '',
                phone: '',
                country: '',
                city: '',
                postcode: '',
                address: '',
                passwordOld: '',
                password: '',
                password_confirmation: '',
                showPasswords: false,
                submitDisabled: true,
            }
        },

        computed: {
            /**
             * Returns the form errors from a storage
             */
            errors() {
                return this.$store.getters['users/getUpdateErrors'];
            },

            /**
             * Returns the name for selected country
             */
            selectedCountryName() {
                const countryName = this.$store.getters['countries/getCountries'][this.country];

                return `${this.country} - ${countryName ? countryName : ''}`
            },

            /**
             * Returns the  countries from a storage
             */
            countries() {
                return this.$store.getters['countries/getCountriesArr'];
            },

            /**
             * Returns the current user from the storage
             */
            currentUser() {
                return this.$store.getters['users/getCurrent'];
            },
        },

        watch: {
            /**
             * Updates profile data when updating current user
             */
            currentUser(user) {
                Object.keys(user).forEach((key) => {
                    if(key in this) {
                        this[key] = user[key];
                    }
                });

                this.submitDisabled = false;
            }
        },

        methods: {
            /**
            * Sends data for user update
            */
            async submit() {
                const user = {
                    name: this.name,
                    surname: this.surname,
                    email: this.email,
                    phone: this.phone,
                    country: this.country,
                    city: this.city,
                    postcode: this.postcode,
                    address: this.address,
                };

                if(this.showPasswords === true) {
                    user.password_old = this.passwordOld;
                    user.password = this.password;
                    user.password_confirmation = this.password_confirmation;
                }

                this.submitDisabled = true;

                const result = await this.$store.dispatch('users/update', { user });

                if (result === true) {
                    window.location.reload();
                } else {
                    this.submitDisabled = false;
                }
            },
        },

        mounted() {
            this.$store.dispatch('users/loadCurrent');
        }
    }
</script>
