<template>
    <div
        class="et-modal modal-profile-add-sign"
        :class="{'et-modal--open': show, 'modal-profile-add-sign--loading' : loading}"
    >
        <div class="et-modal__substrate" @click="close"></div>

        <div class="et-modal__window modal-profile-add-sign__window">
            <div class="et-modal__close" @click="close"></div>

            <form class="et-modal__inner" @submit.prevent="submit">
                <h5 class="modal-profile-add-sign__title">
                    {{ trans('profile.signs.add_modal.title') }}
                </h5>

                <div class="modal-profile-add-sign__field">
                    <label for="emailLogin" class="modal-login__label">
                        {{ trans('profile.signs.add_modal.label') }}
                    </label>

                    <SignField
                        :placeholder="trans('profile.signs.add_modal.label')"
                        id="profileAddSignField"
                        v-model="sign"
                    ></SignField>

                    <p
                        v-if="errors && 'sign' in errors"
                        v-for="error in errors.sign"
                        class="error"
                    >
                        {{ error }}
                    </p>
                </div>

                <button
                    :disabled="!sign.length || loading"
                    type="submit"
                    class="et-btn et-btn--dark modal-profile-add-sign__submit"
                >
                    <span class="et-btn__text">{{ trans('profile.signs.add_modal.save') }}</span>
                </button>

                <button
                    @click.stop.prevent="close"
                    class="et-btn et-btn--light modal-profile-add-sign__cancel"
                >
                    <span class="et-btn__text">{{ trans('profile.signs.add_modal.cancel') }}</span>
                </button>

            </form>
        </div>
    </div>
</template>
<script>
import SignField from './../sign-field/SignField.vue';

export default {
    components: {
        SignField,
    },

    data() {
        return {
            sign: '',
            loading: false,
        }
    },

    computed: {
        /**
         * Returns the errors from the storage
         * @returns {any}
         */
        errors() {
            return this.$store.getters['userSigns/getErrors'];
        },

        /**
         * Returns visibility state of this modal
         * @returns {any}
         */
        show() {
            return this.$store.getters['modals/getProfileAddSignVisibility'];
        },
    },

    methods: {
        /**
         * Sends a new sign for saving in DB
         */
        async submit() {
            this.loading = true;
            this.$store.commit('userSigns/setErrors', {});
            if (await this.$store.dispatch('userSigns/add', this.sign)) {
                this.close();
            }
            this.loading = false;
        },

        /**
         * Closes this window
         */
        close () {
            this.$store.commit('modals/toggleProfileAddSign');
            this.$store.commit('userSigns/setErrors', {});
            this.sign = '';
        },
    },
}
</script>
