<template>
    <form class="profile-search" @submit.prevent="$emit('submit')">
        <input
            type="text"
            :value="value"
            @input="$emit('input', $event.target.value.toUpperCase())"
            :placeholder="trans('profile.search_field.placeholder')"
            class="profile-search__field"
        />

        <button type="submit" class="btn profile-search__button">
            <img
                src="/images/search-icon.svg"
                :alt="trans('profile.search_field.placeholder')"
                :title="trans('profile.search_field.placeholder')"
            />
        </button>
    </form>
</template>
<script>
export default {
    props: {
        value: String,
    },
}
</script>
