<template>
    <div
        v-if="sign"
        class="et-modal modal-profile-remove-sign"
        :class="{'et-modal--open': show, 'modal-profile-remove-sign--loading' : loading}"
    >
        <div class="et-modal__substrate" @click="close"></div>

        <div class="et-modal__window modal-profile-remove-sign__window">
            <div class="et-modal__close" @click="close"></div>

            <form class="et-modal__inner" @submit.prevent="submit">
                <h5 class="modal-profile-remove-sign__title">
                    {{ title }}
                </h5>

                <div class="modal-profile-remove-sign__actions">
                    <button
                        :disabled="!sign || loading"
                        type="submit"
                        class="et-btn et-btn--dark modal-profile-remove-sign__submit"
                    >
                        <span class="et-btn__text">{{ trans('profile.signs.remove_modal.save') }}</span>
                    </button>

                    <button
                        @click.stop.prevent="close"
                        class="et-btn et-btn--light modal-profile-remove-sign__cancel"
                    >
                        <span class="et-btn__text">{{ trans('profile.signs.remove_modal.cancel') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
import SignField from './../sign-field/SignField.vue';

export default {
    components: {
        SignField,
    },

    data() {
        return {
            loading: false,
        }
    },

    props: {
        sign: Object,
    },

    computed: {
        /**
         * Returns a text of the title
         * @returns {string}
         */
        title() {
            return `
                ${this.trans('profile.signs.remove_modal.before_number')}
                ${this.sign.sign}
                ${this.trans('profile.signs.remove_modal.after_number')}
            `;
        },

        /**
         * Returns visibility state of this modal
         * @returns {bool}
         */
        show() {
            return this.$store.getters['modals/getProfileRemoveSignVisibility'];
        },
    },

    methods: {
        /**
         * Sends the sign for deleting from DB
         */
        async submit() {
            this.loading = true;
            await this.$store.dispatch('userSigns/remove', this.sign);
            this.loading = false;
            this.close();
        },

        /**
         * Closes this window
         */
        close () {
            this.$store.commit('modals/toggleProfileRemoveSign');
        },
    },
}
</script>
