.test-sign-result {
    padding: 40px;
    background-color: $white;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 2px solid $dark;
    }

    &__label {
        padding: 10px;
        background-color: $gray-5;
        font-size: 12px;
        line-height: 16px;
    }

    &__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
    }

    &__buy, &__back {
        width: 100%;
    }

    &__back {
        margin-bottom: 20px;
    }
}
