.test-sign-form {
    &__field {
        margin-bottom: 14px;
    }

    &__submit {
        width: 100%;
        max-width: 270px;
        margin-top: 30px;

        @media(max-width: 992px) {
            width: auto;
        }
    }
}
