.et-info-window {
    display: flex;
    align-items: center;
    font-family: e-Ukraine;
    line-height: 18px;
    font-size: 13px;
    font-weight: 400;
    color: $dark;
    &__number {
        margin-right: 10px;
        .road-number__inner {
            width: 45px;
            height: 29px;
            line-height: 18px;
            font-size: 13px;
            color: $dark;
            background-color: $yellow;
        }
    }

    &__title {
        margin-bottom: 0;
    }

    &__distance {
        margin-bottom: 0;
        font-size: 12px;
        line-height: 16px;
        color: $gray-1;
    }
}
