.map-roads {
    position: relative;
    padding-top: 65%;
    border: 1px solid $gray-5;

    @media(max-width: 992px) {
        padding-top: 0;
        height: 90vh;
    }

    // Google map fullscreen button
    .gm-fullscreen-control {
        background-repeat: no-repeat !important;
        background-position: center center !important;
        background-image: url('/images/map-fullscreen-control.svg') !important;

        img {
            display: none;
        }
    }

    // Google map zoom buttons
    .gm-bundled-control-on-bottom {
        button.gm-control-active {
            position: relative;

            &:after, &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
                background-color: $gray-1;
            }

            &:before {
                width: 20px;
                height: 3px;
            }

            &:first-child:after {
                width: 3px;
                height: 20px;
            }

            img {
                display: none;
            }
        }
    }

    // Info Window
    .gm-style-iw {
        border-radius: 0;
        border: 1px solid $gray-5;
        box-shadow: none;
    }

    .gm-ui-hover-effect,
    .gm-style-iw-tc {
        display: none !important;
    }
}
