.map-legend {
    position: absolute;
    left: 0;
    bottom: 0;

    &__inner {
        min-width: 240px;
        padding: 25px 20px;
        border: 1px solid $gray-5;
        background-color: $white;

        @media(max-width: 992px) {
            min-width: 195px;
            padding: 16px 20px;
        }
    }

    &__text {
        font-size: 13px;
        line-height: 18px;

        &:before {
            content: '';
            display: inline-block;
            width: 30px;
            height: 9px;
            margin-right: 15px;
            background-color: $blue;
        }
    }
}
