.road-number {
    margin-right: 50px;
    padding: 2px;
    border: 1px solid $dark;
    border-radius: 5px;

    @media(max-width: 768px) {
        margin-right: 30px;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 65px;
        height: 38px;
        margin-bottom: 0;
        border-radius: 3px;
        background-color: $gray-2;
        font-size: 18px;
        line-height: 28px;
        color: $white;
        transition: .2s;

        @media(max-width: 992px) {
            width: 44px;
            height: 25px;
            font-size: 13px;
            line-height: 18px;
        }

        .roads-list-item--visible & {
            background-color: $yellow;
            color: $dark;
        }
    }
}
