.roads-list-item {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;

    @media(max-width: 768px) {
        width: 100%;
    }

    &:nth-child(odd) {
        padding-right: 40px;

        @media(max-width: 992px) {
            padding-right: 15px;
        }
    }

    &:nth-child(even) {
        padding-left: 40px;

        @media(max-width: 992px) {
            padding-left: 15px;
        }
    }

    &:nth-child(1) .roads-list-item__inner {
        border-top: 1px solid $gray-3;
    }

    &:nth-child(2) .roads-list-item__inner {
        border-top: 1px solid $gray-3;

        @media(max-width: 768px) {
            border-top: 0;
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        height: 80px;
        border-bottom: 1px solid $gray-3;
        font-size: 16px;
        line-height: 24px;
        cursor: pointer;

        @media (max-width: 992px) {
            font-size: 13px;
            line-height: 18px;
        }

        @media (max-width: 768px) {
            height: 60px;
        }
    }

    &__col {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;

        &--number {
            flex-shrink: 0;
        }

        &--title {
            margin-right: 10px;
        }

        &--distance {
            flex-shrink: 0;
            margin-left: auto;
            margin-right: 35px;

            @media(max-width: 768px) {
                margin-right: 20px;
            }
        }

        &--visibility {
            flex-shrink: 0;
            display: block;
            width: 20px;
            height: 100%;
            margin-right: 0;
            background-position: center center;
            background-repeat: no-repeat;
            background-image: url('/images/eye-close.svg');

            .roads-list-item--visible & {
                background-image: url('/images/eye.svg');
            }
        }
    }
}
