.roads-list {
    margin-bottom: 25px;

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;

        @media(max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 15px;
        }
    }

    &__title {
        @media(max-width: 768px) {
            margin-bottom: 17px;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
    }

    &__action {
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
        margin-right: 50px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        color: $gray-1 !important;
        box-shadow: none !important;

        @media(max-width: 992px) {
            margin-right: 20px;
            font-size: 11px;
            line-height: 14px;
        }

        &:last-child {
            margin-right: 0;
        }

        &:before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            display: block;
            width: 0;
            height: 2px;
            background-color: $dark;
            transition: .2s;
        }

        &--active {
            color: $dark !important;

            &:before {
                width: 100%;
            }
        }

        &:after {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            margin-left: 10px;
            background-position: center center;
            background-repeat: no-repeat;
        }

        &--show:after {
            background-image: url('/images/eye.svg');
        }

        &--hide:after {
            background-image: url('/images/eye-close.svg');
        }
    }
}
