.page-contact {

    &__form {
        max-width: 478px;
        margin-left: auto;
        margin-right: 0;
        padding-top: 50px;
        padding-bottom: 100px;

        @media(max-width: 992px) {
            margin-right: auto;
            padding-top: 42px;
            padding-bottom: 60px;
        }

        .contact-form__title {
            @media(max-width: 992px) {
                margin-bottom: 20px;
            }
        }
    }
}
