.page-faq {
    &__faqs {
        margin-bottom: 100px;

        @media(max-width: 992px) {
            margin-bottom: 60px;
        }
    }

    &__have-questions {
        max-width: 478px;
        margin-left: auto;
        margin-right: 0;
        padding-top: 100px;
        padding-bottom: 94px;

        @media(max-width: 992px) {
            margin-right: auto;
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }
}
