.home .et-header__container:before {
    content: none;
}

.page-home {
    margin-top: -90px;

    &__about-text,
    &__test-sign-text {
        p:not(.error) {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;

            @media(max-width: 992px) {
                font-size: 13px;
                line-height: 18px;
                letter-spacing: -0.02em;
            }
        }
    }

    &__about-text {
        max-width: 500px;

        @media (max-width: 992px) {
            max-width: none;
        }
    }

    &__test-sign {
        display: flex;
        align-items: center;

        @media(max-width: 992px) {
            display: block;
            padding-bottom: 0;
        }
    }

    &__test-sign-text {
        max-width: 482px;
        margin-left: auto;
        margin-right: 0;
        padding-top: 40px;

        @media(max-width: 992px) {
            padding-top: 0;
            margin-right: auto;
        }
    }

    .test-sign-form {
        margin-top: 30px;

        @media(max-width: 992px) {
            margin-bottom: 60px;
        }
    }
}
