.page-map {
    &__map {
        margin-bottom: 100px;

        @media(max-width: 992px) {
            margin-bottom: 55px;
        }
    }

    &__roads-list {
        margin-bottom: 100px !important;

        @media(max-width: 992px) {
            margin-bottom: 60px !important;
        }
    }
}
