.page-profile {
    &__inner {
        display: flex;

        @media(max-width: 768px) {
            display: block;
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__sidebar {
        flex-shrink: 0;
        min-width: 310px;
        margin-right: 30px;

        @media(max-width: 992px) {
            min-width: 240px;
        }

        @media(max-width: 768px) {
            margin-right: 0;
            margin-bottom: 40px;
        }
    }

    &__content {
        flex-grow: 1;
    }
}
