.page-simple {
    &__text {
        font-weight: 300;

        @media(max-width: 768px) {
            font-size: 13px;
            line-height: 18px;
            letter-spacing: -0.02em;
        }

        p {
            margin-bottom: 25px;

            @media(max-width: 768px) {
                margin-bottom: 18px;
            }
        }
    }

    &__back-home {
        max-width: 272px;
        margin-top: 40px;

        @media(max-width: 768px) {
            max-width: none;
            margin-top: 10px;
            display: inline-block;
        }
    }
}
