.page-error {
    &__content {
        align-items: center;
        padding-top: 60px;
    }

    &__title {
        position: relative;
        height: 274px;
        line-height: 274px;
        padding-top: 25px;
        vertical-align: middle;
        text-align: center;

        @media(max-width: 992px) {
            height: 210px;
            line-height: 210px;
            margin-bottom: 40px;
        }
    }

    &__icon {
        position: absolute;
        left: 50%;
        bottom: 0;
        z-index: -1;
        transform: translateX(-50%);
        display: block;
        width: 313px;
        height: 274px;

        @media(max-width: 992px) {
            width: 213px;
            height: 186px;
        }
    }

    &__text {
        line-height: 1.3;
        @media(max-width: 992px) {
            text-align: center;
        }
    }

    &__button {
        width: 100%;
        max-width: 275px;
        margin-top: 50px;

        @media(max-width: 992px) {
            margin-left: auto;
            margin-right: auto;
        }
    }
}
