.page {
    padding-bottom: 100px;

    @media(max-width: 768px) {
        padding-bottom: 60px;
    }

    &__title {
        margin-bottom: 50px;

        @media(max-width: 992px) {
            margin-bottom: 30px;
        }
    }
}
