<template>
    <div class="steps-item checkout-step-payment">
        <div class="container">
            <div
                class="checkout-step-payment__inner"
                :class="{'checkout-step-payment__inner--loading': loading}"
            >
                <div class="checkout-step-payment__left">
                    <h3 class="checkout-step-payment__title">
                        {{ trans('pagecheckout.step_3.title') }}
                    </h3>

                    <div class="checkout-step-payment-amount">
                        <div class="checkout-step-payment-amount__row">
                            <div class="checkout-step-payment-amount__col">
                                {{ trans('pagecheckout.step_3.order') }}
                            </div>

                            <div class="checkout-step-payment-amount__col">
                                {{ cartId }}
                            </div>
                        </div>

                        <div v-if="commission !== null" class="checkout-step-payment-amount__row">
                            <div class="checkout-step-payment-amount__col">
                                {{ trans('pagecheckout.step_3.commission') }}
                            </div>

                            <div class="checkout-step-payment-amount__col">
                                {{ commission }} {{ trans('pagecheckout.price_sign') }}
                            </div>
                        </div>

                        <div class="checkout-step-payment-amount__row">
                            <div class="checkout-step-payment-amount__col">
                                {{ trans('pagecheckout.step_3.price') }}
                            </div>

                            <div class="checkout-step-payment-amount__col">
                                <small>{{ trans('pagecheckout.step_3.vat') }}</small>
                                {{ total }} {{ trans('pagecheckout.price_sign') }}
                            </div>
                        </div>
                    </div>

                    <div v-if="googlePayLoadingComplete && masterpassLoadingComplete" class="checkout-step-payment-btn__actions">
                        <label v-if="showGooglePay" class="checkout-step-payment-btn">
                            <input
                                type="radio"
                                class="checkout-step-payment-btn__radio"
                                :value="paymentTypeGooglePay"
                                @click="setPaymentType(paymentTypeGooglePay)"
                                name="paymentType"
                            />

                            <span class="checkout-step-payment-btn__inner">
                            <span class="checkout-step-payment-btn__check"></span>

                            <img
                                width="99"
                                height="40"
                                src="/images/checkout-btn-googlepay-icon.svg"
                                class="checkout-step-payment-btn__icon"
                            />
                        </span>
                        </label>

                        <label v-if="showMasterpass" class="checkout-step-payment-btn">
                            <input
                                type="radio"
                                class="checkout-step-payment-btn__radio"
                                :value="paymentTypeMasterpass"
                                @click="setPaymentType(paymentTypeMasterpass)"
                                name="paymentType"
                            />

                            <span class="checkout-step-payment-btn__inner">
                            <span class="checkout-step-payment-btn__check"></span>

                            <img
                                width="229"
                                height="40"
                                src="/images/checkout-btn-masterpass-icon.svg"
                                class="checkout-step-payment-btn__icon"
                            />
                        </span>
                        </label>
                    </div>

                    <button
                        class="et-btn et-btn--dark checkout-step-payment__pay-btn"
                        :disabled="!paymentType"
                        @click="useSelectedPay"
                    >
                        {{ trans('pagecheckout.step_3.pay') }}
                    </button>

                    <div v-show="false">
                        <IPayGoogleBtn
                            :ref="paymentTypeGooglePay"
                            @payment-process="setLoading"
                            @payment-success="paymentSuccessHandler"
                            @button-available="setGooglePayAvailability"
                            @loading-complete="googlePayLoadingComplete = true"
                        ></IPayGoogleBtn>

                        <MasterpassBtn
                            :ref="paymentTypeMasterpass"
                            @payment-process="setLoading"
                            @button-available="setMasterpassAvailability"
                            @loading-complete="masterpassLoadingComplete = true"
                        ></MasterpassBtn>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import IPayGoogleBtn from './../ipay/IPayGoogleBtn';
import MasterpassBtn from './../ipay/MasterpassBtn.vue';

/**
 * Payment type masterpass *
 * @type {string}
 */
const PAYMENT_TYPE_MASTERPASS = 'Masterpass';

/**
 * Payment type googlepay *
 * @type {string}
 */
const PAYMENT_TYPE_GOOGLEPAY = 'GooglePay';

export default {
    components: {
        IPayGoogleBtn,
        MasterpassBtn,
    },

    data() {
        return {
            loading: false,
            paymentType: '',
            paymentTypeGooglePay: PAYMENT_TYPE_GOOGLEPAY,
            paymentTypeMasterpass: PAYMENT_TYPE_MASTERPASS,
            googlePayAvailability: false,
            masterpassAvailability: false,
            googlePayLoadingComplete: false,
            masterpassLoadingComplete: false,
        }
    },

    computed: {
        /**
         * Returns ID of the current cart.
         */
        cartId() {
            return this.$store.getters['cart/getId'];
        },

        /**
         * Returns the commission by selected payment method
         */
        commission() {
            return this.paymentType ? this.$store.getters[`cart/get${this.paymentType}Fee`].fee : null;
        },

        /**
         * Returns cart`s total
         * @returns {any}
         */
        total() {
            return this.paymentType
                ? this.$store.getters[`cart/get${this.paymentType}Fee`].amount
                : this.$store.getters['cart/getTotal'];
        },

        /**
         * Returns the display state of the Google Pay button
         * @returns {boolean}
         */
        showGooglePay() {
            return !!this.$store.getters[`cart/get${PAYMENT_TYPE_GOOGLEPAY}Fee`] && !!this.googlePayAvailability;
        },

        /**
         * Returns the display state of the Masterpass button
         * @returns {boolean}
         */
        showMasterpass() {
            return !!this.$store.getters[`cart/get${PAYMENT_TYPE_MASTERPASS}Fee`] && !!this.masterpassAvailability;
        },
    },

    methods: {
        /**
         * Sets selected payment type
         * @param type
         */
        setPaymentType(type) {
            this.paymentType = type;
        },

        /**
         * Goes to the selected payment
         */
        useSelectedPay() {
            this.$refs[this.paymentType].$el.querySelector('button').click();
        },

        /**
         * Handler of the success-payment event
         */
        paymentSuccessHandler() {
            window.location.replace('/' + this.appLocale + '/checkout-success');
        },

        /**
         * Sets the loading state
         * @param loading
         */
        setLoading(loading) {
            this.loading = loading;
        },

        /**
         * Sets the session of masterpass
         * @param availability
         */
        setGooglePayAvailability(availability) {
            this.googlePayAvailability = availability;
        },

        /**
         * Sets the session of masterpass
         * @param availability
         */
        setMasterpassAvailability(availability) {
            this.masterpassAvailability = availability;
        },

        /**
         * Initializes the subscription to order changes
         */
        broadcastInit() {
            Echo.channel('orders.' + this.cartId)
                .listen('CartSold', (e) => {
                    if (e.order.id === this.cartId) {
                        this.$store.commit('cart/setSuccessOrder', e.order)
                        this.$emit('change-step', 4)
                    }
                });
        },
    },

    mounted() {
        this.broadcastInit();
    }
}
</script>
