<template>
    <div class="steps-item checkout-step-success" v-if="order && 'id' in order">
        <div class="checkout-step-success__inner">
            <div class="container">
                <h2 class="checkout-step-success__title">
                    {{ trans('pagecheckout.step_4.title') }}
                </h2>

                <p class="checkout-step-success__number">
                    <span>{{ trans('pagecheckout.step_4.text_before_id') }} </span>
                    {{ trans('pagecheckout.step_4.number_sign') }} - {{ order.id }}
                    <span>{{ trans('pagecheckout.step_4.text_after_id') }}</span>
                </p>

                <h4 class="checkout-step-success__email">
                    {{ trans('pagecheckout.step_4.number_email') }} <u>{{ order.email }}</u>
                </h4>

                <a
                    href="/"
                    class="et-btn et-btn--dark checkout-step-success__button"
                >
                    <span class="et-btn__text">{{ trans('pagecheckout.step_4.home_btn') }}</span>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    computed: {
        /**
         * Returns current success order
         * @returns {any}
         */
        order() {
            return this.$store.getters['cart/getSuccessOrder'];
        },
    },

    beforeMount() {
        if (!this.order) {
            this.$store.dispatch('cart/loadSuccessOrder');
        }
    }
}
</script>
