<template>
    <div class="steps-item checkout-step-signin">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-8 steps-item__form">
                    <div class="et-tabs">
                        <div class="et-tabs__header">
                            <h6
                                @click="selectedTab = TAB_REGULAR"
                                class="et-tabs__button"
                                :class="{ 'et-tabs__button--active': selectedTab === TAB_REGULAR }"
                            >
                                {{ trans('pagecheckout.step_1.tab_regular') }}
                            </h6>

                            <h6
                                @click="selectedTab = TAB_NEW"
                                class="et-tabs__button"
                                :class="{ 'et-tabs__button--active': selectedTab === TAB_NEW }"
                            >
                                {{ trans('pagecheckout.step_1.tab_new') }}
                            </h6>
                        </div>

                        <div class="et-tabs__body">
                            <div class="et-tabs__item" v-show="selectedTab === TAB_REGULAR">
                                <button class="et-btn et-btn--dark checkout-step-signin__login-btn" @click="showLoginModal">
                                    <span class="et-btn__text">{{ trans('pagecheckout.step_1.login_btn') }}</span>
                                </button>
                            </div>

                            <div class="et-tabs__item" v-show="selectedTab === TAB_NEW">
                                <div class="checkout-step-signin__type-of-person">
                                    <label for="typeOfPerson">
                                        {{ trans('pagecheckout.step_1.select_type_person_label') }}
                                    </label>

                                    <v-select
                                        id="typeOfPerson"
                                        :searchable="false"
                                        :options="typesOfPeople"
                                        :value="selectedTypeOfPersonName"
                                        @option:selected="(option) => setTypeOfPerson(option.value)"
                                    ></v-select>
                                </div>

                                <button class="et-btn et-btn--dark checkout-step-signin__register-btn" @click="showRegisterModal">
                                    <span class="et-btn__text">
                                        {{ trans('pagecheckout.step_1.register_btn') }}
                                    </span>
                                </button>

                                <button
                                    class="et-btn et-btn--light checkout-step-signin__guest-btn"
                                    @click="skipAuth"
                                    v-if="typeOfPerson === 'private'"
                                >
                                    <span class="et-btn__text">
                                        {{ trans('pagecheckout.step_1.guest_btn') }}
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 steps-item__amount">
                    <CheckoutAmount></CheckoutAmount>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
import CheckoutAmount from './CheckoutAmount.vue';

export default {
    components: {
        CheckoutAmount,
    },

    data() {
        return {
            TAB_REGULAR: 'regular',
            TAB_NEW: 'new',
            selectedTab: 'regular',
            typesOfPeople: [
                {
                    value: 'private',
                    label: this.trans('pagecheckout.step_1.select_private'),
                },
                {
                    value:  'business',
                    label: this.trans('pagecheckout.step_1.select_business'),
                },
            ],
        }
    },

    computed: {
        /**
         * Returns select`s label of type of person
         * @returns {*|string}
         */
        selectedTypeOfPersonName() {
            const typeOfPerson = this.typesOfPeople.find(item => item.value === this.typeOfPerson);

            return typeOfPerson ? typeOfPerson.label : '';
        },

        /**
         * Returns type of person from the storage
         * @returns {*}
         */
        typeOfPerson() {
            return this.$store.getters['checkout/getOrder'].type_of_person;
        },
    },

    methods: {
        /**
         * Shows login modal
         */
        showLoginModal() {
            this.$store.commit('modals/toggleLogin')
        },

        /**
         * Shows register modal
         */
        showRegisterModal() {
            this.$store.commit('modals/setRegisterTab', { tab: this.typeOfPerson });
            this.$store.commit('modals/toggleRegistration');
        },

        /**
         * Sets type of person
         * @param typeOfPerson
         */
        setTypeOfPerson(typeOfPerson) {
            this.$store.commit('checkout/setOrderProps', { type_of_person: typeOfPerson });
        },

        /**
         * Goes to next step
         */
        skipAuth() {
            this.$emit('change-step', 2);
        }
    },
}
</script>
