<template>
    <div class="form checkout">
        <CheckoutStepsHeader
            :current-step="currentStep"
            :steps="steps"
        ></CheckoutStepsHeader>

        <CheckoutStepSignIn
            v-if="currentStep === 1"
            @change-step="changeStepHandler"
        ></CheckoutStepSignIn>

        <CheckoutStepContacts
            v-if="currentStep === 2"
            @change-step="changeStepHandler"
        ></CheckoutStepContacts>

        <CheckoutStepPayment
            v-if="currentStep === 3"
            @change-step="changeStepHandler"
        ></CheckoutStepPayment>

        <CheckoutStepSuccess
            v-if="currentStep === 4"
            @change-step="changeStepHandler"
        ></CheckoutStepSuccess>
    </div>
</template>

<script>
import CheckoutStepsHeader from './CheckoutStepsHeader.vue';
import CheckoutStepSignIn from './CheckoutStepSignIn.vue';
import CheckoutStepContacts from './CheckoutStepContacts.vue';
import CheckoutStepPayment from './CheckoutStepPayment.vue';
import CheckoutStepSuccess from './CheckoutStepSuccess.vue';

export default {
    components: {
        CheckoutStepsHeader,
        CheckoutStepSignIn,
        CheckoutStepContacts,
        CheckoutStepPayment,
        CheckoutStepSuccess,
    },

    data() {
        return {
            currentStep: 1,
            steps: [1, 2, 3, 4],
        }
    },

    props: {
        step: {
            type: Number,
        },
    },

    methods: {
        /**
         * Changes steps of the form
         * @param step
         */
        changeStepHandler(step) {
            this.currentStep = step;
        },
    },

    mounted() {
        this.$store.dispatch('cart/loadCart');
        this.$store.dispatch('cart/loadCartFee');
        this.$store.dispatch('users/loadCurrent');

        // Adds first step if not auth user
        if ('userID' in window) {
            this.steps.shift();
            this.currentStep = 2;
        }

        if (this.step) {
            this.currentStep = this.step;
        }
    },
}
</script>
