<template>
    <div class="steps-item checkout-step-contacts">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-8 steps-item__form">
                    <h3 class="checkout-step-contacts__title">
                        {{ trans('pagecheckout.step_2.title') }}
                    </h3>

                    <div class="row">
                        <div class="col-lg-6 steps-item__field">
                            <label for="checkout_name" class="steps-item__label">
                                {{ trans('pagecheckout.step_2.field_name') }} *
                            </label>

                            <input
                                :value="order.name"
                                @input="updateValue($event.target.value, 'name')"
                                id="checkout_name"
                                type="text"
                                class="steps-item__input"
                                :placeholder="trans('pagecheckout.step_2.field_name')"
                            />

                            <p
                                v-if="errors && 'name' in errors"
                                v-for="error in errors.name"
                                class="error"
                            >
                                {{ error }}
                            </p>
                        </div>

                        <div class="col-lg-6 steps-item__field">
                            <label for="checkout_surname" class="steps-item__label">
                                {{ trans('pagecheckout.step_2.field_surname') }}
                            </label>

                            <input
                                :value="order.surname"
                                @input="updateValue($event.target.value, 'surname')"
                                id="checkout_surname"
                                type="text"
                                class="steps-item__input"
                                :placeholder="trans('pagecheckout.step_2.field_surname')"
                            />

                            <p
                                v-if="errors && 'surname' in errors"
                                v-for="error in errors.surname"
                                class="error"
                            >
                                {{ error }}
                            </p>
                        </div>

                        <div class="col-lg-6 steps-item__field">
                            <label for="checkout_email" class="steps-item__label">
                                {{ trans('pagecheckout.step_2.field_email') }} *
                            </label>

                            <input
                                :value="order.email"
                                @input="updateValue($event.target.value, 'email')"
                                id="checkout_email"
                                type="email"
                                class="steps-item__input"
                                :placeholder="trans('pagecheckout.step_2.field_email')"
                            />

                            <p
                                v-if="errors && 'email' in errors"
                                v-for="error in errors.email"
                                class="error"
                            >
                                {{ error }}
                            </p>
                        </div>

                        <div class="col-lg-6 steps-item__field">
                            <label for="checkout_phone" class="steps-item__label">
                                {{ trans('pagecheckout.step_2.field_phone') }} *
                            </label>

                            <phone-field
                                :value="order.phone"
                                @input="value => updateValue(value, 'phone')"
                                :placeholder="trans('pagecheckout.step_2.field_phone')"
                                :class="'steps-item__input'"
                                :id="'checkout_phone'"
                            ></phone-field>

                            <p
                                v-if="errors && 'phone' in errors"
                                v-for="error in errors.phone"
                                class="error"
                            >
                                {{ error }}
                            </p>
                        </div>

                        <div v-if="isBusiness" class="col-lg-6 steps-item__field">
                            <label for="checkout_company_name" class="steps-item__label">
                                {{ trans('pagecheckout.step_2.field_company') }} *
                            </label>

                            <input
                                :value="order.company_name"
                                @input="updateValue($event.target.value, 'company_name')"
                                id="checkout_company_name"
                                type="text"
                                class="steps-item__input"
                                :placeholder="trans('pagecheckout.step_2.field_company')"
                            />

                            <p
                                v-if="errors && 'company_name' in errors"
                                v-for="error in errors.company_name"
                                class="error"
                            >
                                {{ error }}
                            </p>
                        </div>

                        <div v-if="isBusiness" class="col-lg-6 steps-item__field">
                            <label for="checkout_tax_number" class="steps-item__label">
                                {{ trans('pagecheckout.step_2.field_tax_number') }} *
                            </label>

                            <input
                                :value="order.tax_number"
                                @input="updateValue($event.target.value, 'tax_number')"
                                id="checkout_tax_number"
                                type="text"
                                class="steps-item__input"
                                :placeholder="trans('pagecheckout.step_2.field_tax_number')"
                            />

                            <p
                                v-if="errors && 'tax_number' in errors"
                                v-for="error in errors.tax_number"
                                class="error"
                            >
                                {{ error }}
                            </p>
                        </div>

                        <div class="col-lg-6 steps-item__field">
                            <label for="checkout_country" class="steps-item__label">
                                {{ trans('pagecheckout.step_2.field_country') }} *
                            </label>

                            <et-countries
                                id="checkout_country"
                                :value="order.country"
                                @input="(value) => updateValue(value, 'country')"
                            ></et-countries>

                            <p
                                v-if="errors && 'country' in errors"
                                v-for="error in errors.country"
                                class="error"
                            >
                                {{ error }}
                            </p>
                        </div>

                        <div class="col-lg-6 steps-item__field">
                            <label for="checkout_city" class="steps-item__label">
                                {{ trans('pagecheckout.step_2.field_city') }}
                            </label>

                            <input
                                :value="order.city"
                                @input="updateValue($event.target.value, 'city')"
                                id="checkout_city"
                                type="text"
                                class="steps-item__input"
                                :placeholder="trans('pagecheckout.step_2.field_city')"
                            />

                            <p
                                v-if="errors && 'city' in errors"
                                v-for="error in errors.city"
                                class="error"
                            >
                                {{ error }}
                            </p>
                        </div>

                        <div class="col-lg-6 steps-item__field">
                            <label for="checkout_postcode" class="steps-item__label">
                                {{ trans('pagecheckout.step_2.field_postcode') }}
                            </label>

                            <input
                                :value="order.postcode"
                                @input="updateValue($event.target.value, 'postcode')"
                                id="checkout_postcode"
                                type="text"
                                class="steps-item__input"
                                :placeholder="trans('pagecheckout.step_2.field_postcode')"
                            />

                            <p
                                v-if="errors && 'postcode' in errors"
                                v-for="error in errors.postcode"
                                class="error"
                            >
                                {{ error }}
                            </p>
                        </div>

                        <div class="col-lg-6 steps-item__field">
                            <label for="checkout_address" class="steps-item__label">
                                {{ trans('pagecheckout.step_2.field_address') }}
                            </label>

                            <input
                                :value="order.address"
                                @input="updateValue($event.target.value, 'address')"
                                id="checkout_address"
                                type="text"
                                class="steps-item__input"
                                :placeholder="trans('pagecheckout.step_2.field_address')"
                            />

                            <p
                                v-if="errors && 'address' in errors"
                                v-for="error in errors.address"
                                class="error"
                            >
                                {{ error }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 checkout-step-contacts__amount">
                    <CheckoutAmount></CheckoutAmount>
                </div>

                <div class="form col-md-6 col-lg-8">
                    <label class="et-checkbox checkout-step-contacts__rules">
                        <input
                            type="checkbox"
                            value="1"
                            @change="updateValue($event.target.checked, 'rules_confirmed')"
                        />

                        <span class="et-checkbox__checkmark"></span>

                        <p class="mb-0">
                            {{ trans('pagecheckout.step_2.rules_text_start') }}

                            <a target="_blank" href="/terms-of-use">
                                {{ trans('pagecheckout.step_2.rules_text_link') }}
                            </a>

                            {{ trans('pagecheckout.step_2.rules_text_end') }}
                        </p>

                        <p
                            v-if="errors && 'rules_confirmed' in errors"
                            v-for="error in errors.rules_confirmed"
                            class="error text-left"
                        >
                            {{ error }}
                        </p>
                    </label>


                    <button
                        class="et-btn et-btn--dark checkout-step-contacts__submit"
                        @click="submit"
                        :disabled="!rulesConfirmed"
                    >
                        <span class="et-btn__text">{{ trans('pagecheckout.step_2.submit_btn') }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import CheckoutAmount from './CheckoutAmount.vue';

export default {
    components: {
        CheckoutAmount,
    },

    data() {
        return {
            userDataLoaded: false,
        }
    },

    computed: {
        /**
         * Returns errors from the storage
         */
        errors() {
            return this.$store.getters['checkout/getErrors'];
        },

        /**
         * Returns the order
         * @returns {any}
         */
        order() {
            return this.$store.getters['checkout/getOrder'];
        },

        /**
         * Checks is business account
         * @returns {boolean}
         */
        isBusiness() {
            return 'business' === this.order.type_of_person;
        },

        /**
         * Returns the current authorized user
         * @returns {any}
         */
        currentUser() {
            return this.$store.getters['users/getCurrent'];
        },

        /**
         * Returns the current authorized user
         * @returns {any}
         */
        rulesConfirmed() {
            return this.order['rules_confirmed'];
        },
    },

    watch: {
        /**
         * Sets order`s contacts from user data
         * @param user
         */
        currentUser(user) {
            if (this.order && !this.order.email.length && !this.order.phone.length && !this.userDataLoaded && user) {
                this.$store.commit('checkout/setOrderProps', user);
                this.userDataLoaded = true;
            }
        }
    },

    methods: {
        /**
         * Updates the order property in the storage
         * @param value
         * @param key
         */
        updateValue(value, key) {
            this.$store.commit('checkout/setOrderProps', { [key]: value });
        },

        /**
         * Submits the contact`s data of the order
         * @returns {Promise<void>}
         */
        async submit() {
            const result = await this.$store.dispatch('checkout/submitContacts', { contacts: this.order });
            if (result) {
                this.$emit('change-step', 3);
            }
        },
    },
}
</script>
