<template>
    <div class="container">
        <ol class="steps-header">
            <li
                v-for="step in steps"
                class="steps-header__item"
                :class="{
                    'steps-header__item--active': isActiveStyle(step),
                    'steps-header__item--current': isCurrentStyle(step),
                }"
            >
                <span class="steps-header__btn">
                    <span class="steps-header__text" v-html="getStepName(step)"></span>

                    <img
                        class="steps-header__arrow"
                        src="/images/step-arrow.svg"
                        :alt="step"
                        :title="step"
                        width="32"
                        height="9"
                    >
                </span>
            </li>
        </ol>
    </div>
</template>

<script>
    export default {
        props: {
            currentStep: Number,
            steps: Array,
        },

        methods: {
            /**
             * Returns translate of name for the step
             * @param step
             * @returns {*}
             */
            getStepName(step) {
                return this.trans('pagecheckout.step_' + step + '.header_btn');
            },

            /**
             * Checks for the active style
             * @param step
             */
            isActiveStyle(step) {
                return step <= this.currentStep;
            },

            /**
             * Checks for the active style
             * @param step
             */
            isCurrentStyle(step) {
                return step === this.currentStep;
            },
        },
    }
</script>
