<template>
    <div class="checkout-amount">
        <div class="checkout-amount__inner">
            <h5 class="checkout-amount__title">
                {{ trans('pagecheckout.amount_title') }}
            </h5>

            <hr>

            <h5 class="d-flex justify-content-between checkout-amount__total">
                <span>{{ trans('pagecheckout.total') }}</span>

                <span>{{ total }} {{ trans('pagecheckout.price_sign') }}</span>
            </h5>

            <div class="checkout-amount__icons">
                <img src="/images/checkout-amount-visa.svg" alt="Visa">
                <img src="/images/checkout-amount-mastercard.svg" alt="Mastercard">
                <img src="/images/checkout-amount-google.svg" alt="Google pay">
                <img src="/images/checkout-amount-apple.svg" alt="Apple pay">
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        computed: {
            /**
             * Returns cart`s total
             * @returns {any}
             */
            total() {
                return this.$store.getters['cart/getTotal'];
            },
        },
    }
</script>
